<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.patients' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/patients">
						<span class="m-nav__link-text">
							{{ 'labels.patients' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/patients/new">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.new' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.new' | translate }}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="newPatientForm" (submit)="createPatient()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && newPatientForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.firstName.valid && (newPatientForm.controls.firstName.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.firstName.valid && (newPatientForm.controls.firstName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.first_name' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.firstName" formControlName="firstName" id="firstName" name="firstName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.first_name' | translate }}">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.firstName.valid && (newPatientForm.controls.firstName.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.firstName.errors.required">{{ 'admin_panel.patients.form.first_name_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.lastName.valid && (newPatientForm.controls.lastName.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.lastName.valid && (newPatientForm.controls.lastName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.last_name' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.lastName" formControlName="lastName" id="lastName" name="lastName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.last_name' | translate }}">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.lastName.valid && (newPatientForm.controls.lastName.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.lastName.errors.required">{{ 'admin_panel.patients.form.last_name_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.email.valid && (newPatientForm.controls.email.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.email.valid && (newPatientForm.controls.email.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.email' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.email" formControlName="email" id="email" name="email" type="email" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.email' | translate }}">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.email.valid && (newPatientForm.controls.email.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.email.errors.required">{{ 'admin_panel.patients.form.email_is_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.email.errors.email">{{ 'admin_panel.patients.form.wrong_email' | translate }}</p>
              <p *ngIf="newPatientForm.controls.email.errors.unique">{{ 'admin_panel.patients.form.taken_email' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.lang.valid && (newPatientForm.controls.lang.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.lang.valid && (newPatientForm.controls.lang.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'lang' | translate }} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="patient.lang" formControlName="lang" name="lang" id="lang">
              <option value="pl">{{ 'langs.pl' | translate }}</option>
              <option value="en">{{ 'langs.en' | translate }}</option>
              <option value="fi">{{ 'langs.fi' | translate }}</option>
            </select>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!hasError && (newPatientForm.controls.phoneNumber.dirty || submitted)"
             [class.has-success]="hasError && (newPatientForm.controls.phoneNumber.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.phone_number' | translate }} *</label>
          <div class="col-lg-6">

            <input type="text"
                   formControlName="phoneNumber"
                   ng2TelInput
                   class="form-control m-input"
                   [ng2TelInputOptions]="{
                   nationalMode: true,
                   formatOnInit: true,
                    separateDialCode: true,
                    formatOnDisplay: true,
                    nationalMode: true
                   }"
                   (hasError)="onError($event)"
                   (ng2TelOutput)="getNumber($event)"
                   (intlTelInputObject)="telInputObject($event)"/>
            <div class="form-control-feedback" *ngIf="!hasError && (newPatientForm.controls.phoneNumber.dirty || submitted)">
              <p>{{ 'admin_panel.patients.form.wrong_phone_number' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.street.valid && (newPatientForm.controls.street.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.street.valid && (newPatientForm.controls.street.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.address' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.street" formControlName="street" id="street" name="street" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.address' | translate }}">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.zipCode.valid && (newPatientForm.controls.zipCode.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.zipCode.valid && (newPatientForm.controls.zipCode.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.zip_code' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.zipCode" formControlName="zipCode" id="zipCode" name="zipCode" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.zip_code' | translate }}">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.zipCode.valid && (newPatientForm.controls.zipCode.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.zipCode.errors.pattern">{{ 'admin_panel.patients.form.wrong_zip_code' | translate }} </p>
              <p *ngIf="newPatientForm.controls.zipCode.errors.maxlength">{{ 'admin_panel.medical_units.form.zip_code_max_length' | translate }} </p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.city.valid && (newPatientForm.controls.city.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.city.valid && (newPatientForm.controls.city.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.city' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.city" formControlName="city" id="city" name="city" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.city' | translate }}">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.doctorId.valid && (newPatientForm.controls.doctorId.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.doctorId.valid && (newPatientForm.controls.doctorId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.doctor' | translate }} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="patient.doctorId" formControlName="doctorId" name="doctorId" id="doctorId">
              <option value="">{{ 'admin_panel.patients.attributes.empty' | translate }}</option>
              <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.doctorId.valid && (newPatientForm.controls.doctorId.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.doctorId.errors.required">{{ 'admin_panel.patients.form.doctor_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.identifier.valid && (newPatientForm.controls.identifier.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.identifier.valid && (newPatientForm.controls.identifier.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.identifier' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.identifier" formControlName="identifier" id="identifier" name="identifier" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.identifier' | translate }}">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.identifier.valid && (newPatientForm.controls.identifier.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.identifier.errors.required">{{ 'admin_panel.patients.form.identifier_is_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.identifier.errors.pattern">{{ 'admin_panel.patients.form.wrong_identifier' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.birthday.valid && (newPatientForm.controls.birthday.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.birthday.valid && (newPatientForm.controls.birthday.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.birthday' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.birthday" formControlName="birthday" id="birthday" name="birthday" type="text" class="form-control m-input" placeholder="dd.mm.yyyy">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.birthday.valid && (newPatientForm.controls.birthday.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.birthday.errors.required">{{ 'admin_panel.patients.form.birthday_is_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.birthday.errors.pattern">{{ 'admin_panel.patients.form.wrong_date' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="pregnancyCountError || !newPatientForm.controls.pregnancyCount.valid"
             [class.has-success]="!pregnancyCountError && (newPatientForm.controls.pregnancyCount.dirty || submitted)">

          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.pregnancy_count' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.pregnancyCount" (input)="validateBirthCount()" formControlName="pregnancyCount" id="pregnancyCount" name="pregnancyCount" type="number" class="form-control m-input">
            <div class="form-control-feedback" *ngIf="pregnancyCountError">
              <p *ngIf="pregnancyCountError">{{ 'validation_errors.birth_count_larger_than_pregnancy_count' | translate }}</p>
            </div>
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.pregnancyCount.valid && (newPatientForm.controls.pregnancyCount.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.pregnancyCount.errors.required">{{ 'admin_panel.patients.form.pregnancy_count_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.pregnancyCount.errors.pattern">{{ 'admin_panel.patients.form.pregnancy_count_must_be_greater_than_zero' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="pregnancyCountError || !newPatientForm.controls.birthCount.valid"
             [class.has-success]="!pregnancyCountError && (newPatientForm.controls.birthCount.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.birth_count' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.birthCount" (input)="validateBirthCount()" formControlName="birthCount" id="birthCount" name="birthCount" type="number" class="form-control m-input">
            <div class="form-control-feedback" *ngIf="pregnancyCountError">
              <p *ngIf="pregnancyCountError">{{ 'validation_errors.birth_count_larger_than_pregnancy_count' | translate }}</p>
            </div>
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.birthCount.valid && (newPatientForm.controls.birthCount.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.birthCount.errors.required">{{ 'admin_panel.patients.form.birth_count_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.birthCount.errors.pattern">{{ 'admin_panel.patients.form.birth_count_must_be_greater_than_zero' | translate }} </p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.pregnancyWeek.valid && (newPatientForm.controls.pregnancyWeek.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.pregnancyWeek.valid && (newPatientForm.controls.pregnancyWeek.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.pregnancy_week' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.pregnancyWeek" formControlName="pregnancyWeek" id="pregnancyWeek" name="pregnancyWeek" max="42" min="1" type="number" class="form-control m-input">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.pregnancyWeek.valid && (newPatientForm.controls.pregnancyWeek.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.pregnancyWeek.errors.required">{{ 'admin_panel.patients.form.pregnancy_week_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.pregnancyWeek.errors.pattern">{{ 'admin_panel.patients.form.pregnancy_week_must_be_positive' | translate }}</p>
              <p *ngIf="newPatientForm.controls.pregnancyWeek.errors.min">{{ 'validation_errors.must_be_greater_then_1' | translate }}</p>
              <p *ngIf="newPatientForm.controls.pregnancyWeek.errors.max">{{ 'validation_errors.must_be_less_then_forty_two' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.pregnancyDay.valid && (newPatientForm.controls.pregnancyDay.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.pregnancyDay.valid && (newPatientForm.controls.pregnancyDay.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.pregnancy_day' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="patient.pregnancyDay" formControlName="pregnancyDay" id="pregnancyDay" name="pregnancyDay" type="number" class="form-control m-input">
            <div class="form-control-feedback" *ngIf="!newPatientForm.controls.pregnancyDay.valid && (newPatientForm.controls.pregnancyDay.dirty || submitted)">
              <p *ngIf="newPatientForm.controls.pregnancyDay.errors.required">{{ 'admin_panel.patients.form.pregnancy_day_required' | translate }}</p>
              <p *ngIf="newPatientForm.controls.pregnancyDay.errors.pattern">{{ 'admin_panel.patients.form.wrong_pregnancy_day' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.diagnosis.valid && (newPatientForm.controls.diagnosis.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.diagnosis.valid && (newPatientForm.controls.diagnosis.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.diagnosis' | translate }}</label>
          <div class="col-lg-6">
            <textarea [(ngModel)]="patient.diagnosis" rows="3" formControlName="diagnosis" id="diagnosis" name="diagnosis" type="text" class="form-control m-input"></textarea>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!newPatientForm.controls.medicineTaken.valid && (newPatientForm.controls.medicineTaken.dirty || submitted)"
             [class.has-success]="newPatientForm.controls.medicineTaken.valid && (newPatientForm.controls.medicineTaken.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.medicine_taken' | translate }}</label>
          <div class="col-lg-6">
            <textarea [(ngModel)]="patient.medicineTaken" rows="3" formControlName="medicineTaken" id="medicineTaken" name="medicineTaken" type="text" class="form-control m-input"></textarea>
          </div>
        </div>



      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/patients" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
