<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-3.jpg);">
	<div class="text-right" style="padding-right:10px">
    <a (click)="setLanguage('pl')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/pl.png">
    </a>
    <a (click)="setLanguage('en')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/en.png">
    </a>
    <a (click)="setLanguage('fi')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/fi.png">
	</a>
	<a (click)="setLanguage('sv')" style="cursor:pointer">
		<img src="./assets/app/media/img/flags/sv.png">
	</a>
  </div>
  <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
		<div class="m-login__container">
			<div class="m-login__logo">
				<a href="#">
					<img src="./assets/app/media/img/logos/logo_big.png" width="400">
				</a>
			</div>
			<div class="m-login__signin">
				<div class="m-login__head">
					<h3 class="m-login__title">
						{{ 'admin_panel.login.title' | translate}}
					</h3>
				</div>
				<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertSignin></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input"  style="border: 1px solid #B6AEC4" type="text" placeholder="{{ 'admin_panel.login.email' | translate}}" name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete="off">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input m-login__form-input--last" style="border: 1px solid #B6AEC4" type="password" placeholder="{{ 'admin_panel.login.password' | translate}}" name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<div class="row m-login__form-sub">
						<div class="col m--align-right m-login__form-right">
							<a href="javascript:;" id="m_login_forget_password" class="m-link">
                {{ 'admin_panel.login.reset_password' | translate}}
							</a>
						</div>
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
              {{ 'admin_panel.login.submit' | translate}}
						</button>
					</div>
				</form>
			</div>

			<div class="m-login__forget-password">
				<div class="m-login__head">
					<h3 class="m-login__title">
            {{ 'admin_panel.reset_password.title' | translate}}
					</h3>
					<div class="m-login__desc">
            {{ 'admin_panel.reset_password.description' | translate}}
					</div>
				</div>
				<form (ngSubmit)="f.form.valid && forgotPass()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertForgotPass></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input" style="border: 1px solid #B6AEC4" type="text" placeholder="{{ 'admin_panel.login.email' | translate}}" name="email" [(ngModel)]="model.email" #email="ngModel" id="m_email" autocomplete="off">
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
              {{ 'admin_panel.reset_password.submit' | translate}}
						</button>
						&nbsp;&nbsp;
						<button [disabled]="loading"  id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
              {{ 'admin_panel.reset_password.cancel' | translate}}
						</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
