<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.medical_units' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units">
						<span class="m-nav__link-text">
							{{ 'labels.medical_units' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units/{{id}}">
						<span class="m-nav__link-text">
							{{medicalUnitName}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units/edit/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.pagination.buttons.edit' | translate}}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editMedicalUnitForm" (submit)="updateMedicalUnit()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editMedicalUnitForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.firstName.valid && (editMedicalUnitForm.controls.firstName.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.firstName.valid && (editMedicalUnitForm.controls.firstName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.first_name' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.firstName" formControlName="firstName" id="firstName" name="firstName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.first_name' | translate }}">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.lastName.valid && (editMedicalUnitForm.controls.lastName.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.lastName.valid && (editMedicalUnitForm.controls.lastName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.last_name' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.lastName" formControlName="lastName" id="lastName" name="lastName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.last_name' | translate }}">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.email.valid && (editMedicalUnitForm.controls.email.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.email.valid && (editMedicalUnitForm.controls.email.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.email' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.email" formControlName="email" id="email" name="email" type="email" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.email' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.email.valid && (editMedicalUnitForm.controls.email.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.email.errors.required">{{ 'admin_panel.patients.form.email_is_required' | translate }}</p>
              <p *ngIf="editMedicalUnitForm.controls.email.errors.email">{{ 'admin_panel.patients.form.wrong_email' | translate }}</p>
              <p *ngIf="editMedicalUnitForm.controls.email.errors.unique">{{ 'admin_panel.patients.form.taken_email' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.lang.valid && (editMedicalUnitForm.controls.lang.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.lang.valid && (editMedicalUnitForm.controls.lang.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'lang' | translate }} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="medicalUnit.lang" formControlName="lang" name="lang" id="lang">
              <option value="pl">{{ 'langs.pl' | translate }}</option>
              <option value="en">{{ 'langs.en' | translate }}</option>
              <option value="fi">{{ 'langs.fi' | translate }}</option>
            </select>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.doctorCode.valid && (editMedicalUnitForm.controls.doctorCode.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.doctorCode.valid && (editMedicalUnitForm.controls.doctorCode.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'doctor_code' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.doctorCode" formControlName="doctorCode" id="doctorCode" name="doctorCode" type="text" class="form-control m-input" placeholder="{{ 'doctor_code' | translate }}">
            <div>
              <i class="fa fa-exclamation-triangle"></i>
              <span>{{'changing_doctor_code_warning' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!hasError && (editMedicalUnitForm.controls.phoneNumber.dirty || submitted)"
             [class.has-success]="hasError && (editMedicalUnitForm.controls.phoneNumber.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.phone_number' | translate }} *</label>
          <div class="col-lg-6">

            <input type="tel"
                   id="phoneNumber"
                   #phoneNumber
                   formControlName="phoneNumber"
                   ng2TelInput
                   class="form-control m-input"

                   [ng2TelInputOptions]="{
                   nationalMode: true,
                   formatOnInit: true,
                    separateDialCode: true,
                    formatOnDisplay: true,
                    nationalMode: true
                   }"                   (countryChange)="onCountryChange($event)"
                   (hasError)="onError($event)"
                   (ng2TelOutput)="getNumber($event)"
                   (intlTelInputObject)="telInputObject($event)"/>

            <div class="form-control-feedback" *ngIf="!hasError && (editMedicalUnitForm.controls.phoneNumber.dirty || submitted)">
              <p>{{ 'admin_panel.patients.form.wrong_phone_number' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.merchantId.valid && (editMedicalUnitForm.controls.merchantId.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.merchantId.valid && (editMedicalUnitForm.controls.merchantId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.merchant_user' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="medicalUnit.merchantId" formControlName="merchantId" name="merchantId" id="merchantId">
              <option value="">{{ 'admin_panel.patients.attributes.all_doctors' | translate }}</option>
              <option *ngFor="let merchant of merchants" value="{{merchant.id}}">{{merchant.email}}</option>
            </select>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.company.valid && (editMedicalUnitForm.controls.company.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.company.valid && (editMedicalUnitForm.controls.company.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.company' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.company" formControlName="company" id="company" name="company" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.company' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.company.valid && (editMedicalUnitForm.controls.company.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.company.errors.required">{{ 'admin_panel.patients.form.company_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.nip.valid && (editMedicalUnitForm.controls.nip.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.nip.valid && (editMedicalUnitForm.controls.nip.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.nip' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.nip" formControlName="nip" id="nip" name="nip" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.nip' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.nip.valid && (editMedicalUnitForm.controls.nip.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.nip.errors.required">{{ 'admin_panel.patients.form.nip_is_required' | translate }}</p>
              <p *ngIf="editMedicalUnitForm.controls.nip.errors.pattern">{{ 'admin_panel.medical_units.form.wrong_nip' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.street.valid && (editMedicalUnitForm.controls.street.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.street.valid && (editMedicalUnitForm.controls.street.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.street' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.street" formControlName="street" id="street" name="street" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.street' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.street.valid && (editMedicalUnitForm.controls.street.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.street.errors.required">{{ 'admin_panel.patients.form.street_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.streetNumber.valid && (editMedicalUnitForm.controls.streetNumber.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.streetNumber.valid && (editMedicalUnitForm.controls.streetNumber.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.street_number' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.streetNumber" formControlName="streetNumber" id="streetNumber" name="streetNumber" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.street_number' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.streetNumber.valid && (editMedicalUnitForm.controls.streetNumber.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.streetNumber.errors.required">{{ 'admin_panel.patients.form.street_number_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.apartmentNumber.valid && (editMedicalUnitForm.controls.apartmentNumber.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.apartmentNumber.valid && (editMedicalUnitForm.controls.apartmentNumber.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.apartment_number' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.apartmentNumber" formControlName="apartmentNumber" id="apartmentNumber" name="apartmentNumber" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.apartment_number' | translate }}">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.zipCode.valid && (editMedicalUnitForm.controls.zipCode.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.zipCode.valid && (editMedicalUnitForm.controls.zipCode.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.zip_code' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.zipCode" formControlName="zipCode" id="zipCode" name="zipCode" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.zip_code' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.zipCode.valid && (editMedicalUnitForm.controls.zipCode.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.zipCode.errors.required">{{ 'admin_panel.patients.form.zip_code_is_required' | translate }}</p>
              <p *ngIf="newMedicalUnitForm.controls.zipCode.errors.pattern">{{ 'admin_panel.medical_units.form.wrong_zip_code' | translate }} </p>
              <p *ngIf="newMedicalUnitForm.controls.zipCode.errors.maxlength">{{ 'admin_panel.medical_units.form.zip_code_max_length' | translate }} </p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.city.valid && (editMedicalUnitForm.controls.city.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.city.valid && (editMedicalUnitForm.controls.city.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.city' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="medicalUnit.city" formControlName="city" id="city" name="city" type="text" class="form-control m-input" placeholder="Miasto">
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.city.valid && (editMedicalUnitForm.controls.city.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.city.errors.required">{{ 'admin_panel.patients.form.city_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.typeOfActivity.valid && (editMedicalUnitForm.controls.typeOfActivity.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.typeOfActivity.valid && (editMedicalUnitForm.controls.typeOfActivity.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.type_of_activity' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="medicalUnit.typeOfActivity" formControlName="typeOfActivity" name="typeOfActivity" id="typeOfActivity">
              <option value="">{{ 'admin_panel.patients.attributes.select' | translate }}</option>
              <option *ngFor="let typeOfActivity of objectKeys(typesOfActivity)" value="{{typeOfActivity}}">{{typesOfActivity[typeOfActivity]}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.typeOfActivity.valid && (editMedicalUnitForm.controls.typeOfActivity.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.typeOfActivity.errors.required">{{ 'admin_panel.patients.form.type_of_activity_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.companySize.valid && (editMedicalUnitForm.controls.companySize.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.companySize.valid && (editMedicalUnitForm.controls.companySize.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.company_size' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="medicalUnit.companySize" formControlName="companySize" name="companySize" id="companySize">
              <option value="">{{ 'admin_panel.patients.attributes.select' | translate }}</option>
              <option *ngFor="let companySize of objectKeys(companySizes)" value="{{companySize}}">{{companySizes[companySize]}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="!editMedicalUnitForm.controls.companySize.valid && (editMedicalUnitForm.controls.companySize.dirty || submitted)">
              <p *ngIf="editMedicalUnitForm.controls.companySize.errors.required">{{ 'admin_panel.patients.form.company_size_is_required' | translate }}</p>
            </div>
          </div>
        </div>



        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.canEditPatients.valid && (editMedicalUnitForm.controls.canEditPatients.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.canEditPatients.valid && (editMedicalUnitForm.controls.canEditPatients.dirty || submitted)">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <label class="m-checkbox m-checkbox--state-success">
              <input type="checkbox" [(ngModel)]="medicalUnit.canEditPatients" formControlName="canEditPatients" id="canEditPatients" name="canEditPatients">
              {{ 'admin_panel.doctors.permissions.can_edit_patients' | translate }}
              <span></span>
            </label>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.canEditDevices.valid && (editMedicalUnitForm.controls.canEditDevices.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.canEditDevices.valid && (editMedicalUnitForm.controls.canEditDevices.dirty || submitted)">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <label class="m-checkbox m-checkbox--state-success">
              <input type="checkbox" [(ngModel)]="medicalUnit.canEditDevices" formControlName="canEditDevices" id="canEditDevices" name="canEditDevices">
              {{ 'admin_panel.doctors.permissions.can_edit_devices' | translate }}
              <span></span>
            </label>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMedicalUnitForm.controls.canSeeMedicalRecords.valid && (editMedicalUnitForm.controls.canSeeMedicalRecords.dirty || submitted)"
             [class.has-success]="editMedicalUnitForm.controls.canSeeMedicalRecords.valid && (editMedicalUnitForm.controls.canSeeMedicalRecords.dirty || submitted)">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <label class="m-checkbox m-checkbox--state-success">
              <input type="checkbox" [(ngModel)]="medicalUnit.canSeeMedicalRecords" formControlName="canSeeMedicalRecords" id="canSeeMedicalRecords" name="canSeeMedicalRecords">
              {{ 'admin_panel.doctors.permissions.can_see_medical_records' | translate }}
              <span></span>
            </label>
          </div>
        </div>




      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/medical_units/{{id}}" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
