<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.medical_units' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units">
						<span class="m-nav__link-text">
							{{ 'labels.medical_units' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units/{{id}}">
						<span class="m-nav__link-text">
							{{medicalUnit?.company}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.medical_units.show' | translate }}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/medical_units/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
        <a class="btn btn-brand s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/medical_units/edit_password/{{id}}">
          <span>{{'admin_panel.pagination.buttons.new_password' | translate}}</span>
        </a>
        <button *ngIf="medicalUnit?.confirmationEmail" class="btn btn-danger s-btn s-btn--custom m-btn--air m-btn--pill" (click)="resendConfirmationEmail()">
          <span>{{'admin_panel.doctors.resend_confirmation_email' | translate}}</span>
        </button>
        <!--<button class="btn btn-accent s-btn s-btn&#45;&#45;custom m-btn&#45;&#45;air m-btn&#45;&#45;pill" (click)="getCrmStatus()">-->
          <!--<span>{{'admin_panel.doctors.get_crm_status' | translate}}</span>-->
        <!--</button>-->
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.id' | translate }}</th>
          <th>{{medicalUnit?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.first_name' | translate }}</th>
          <td>{{medicalUnit?.firstName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_name' | translate }}</th>
          <td>{{medicalUnit?.lastName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.email' | translate }}</th>
          <td>{{medicalUnit?.email}}</td>
        </tr>
        <tr>
          <th>{{ 'doctor_code' | translate }}</th>
          <td>{{medicalUnit?.doctorCode}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.phone_number' | translate }}</th>
          <td>{{medicalUnit?.phoneNumber}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.devices' | translate }}</th>
          <td><p *ngFor="let device of medicalUnit?.devices" style="margin: 0"><a routerLink="/devices/{{device.id}}">{{device.identifier}}</a></p></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.doctors' | translate }}</th>
          <td><p *ngFor="let doctor of medicalUnit?.doctors" style="margin: 0"><a routerLink="/doctors/{{doctor.id}}">{{doctor.firstName}} {{doctor.lastName}}</a></p></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.patients' | translate }}</th>
          <td><p *ngFor="let patient of medicalUnit?.patients" style="margin: 0"><a routerLink="/patients/{{patient.id}}">{{patient.firstName}} {{patient.lastName}}</a></p></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.merchant_user' | translate }}</th>
          <td><a routerLink="/merchant_users/{{medicalUnit?.merchantId}}">{{medicalUnit?.merchant}}</a></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.company' | translate }}</th>
          <td>{{medicalUnit?.company}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.nip' | translate }}</th>
          <td>{{medicalUnit?.nip}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.street' | translate }}</th>
          <td>{{medicalUnit?.street}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.street_number' | translate }}</th>
          <td>{{medicalUnit?.streetNumber}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.apartment_number' | translate }}</th>
          <td>{{medicalUnit?.apartmentNumber}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.zip_code' | translate }}</th>
          <td>{{medicalUnit?.zipCode}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.city' | translate }}</th>
          <td>{{medicalUnit?.city}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.type_of_activity' | translate }}</th>
          <td>{{typesOfActivity[medicalUnit?.typeOfActivity]}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.company_size' | translate }}</th>
          <td>{{companySizes[medicalUnit?.companySize]}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.created_at' | translate }}</th>
          <td>{{medicalUnit?.createdAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.updated_at' | translate }}</th>
          <td>{{medicalUnit?.updatedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.sign_in_count' | translate }}</th>
          <td>{{medicalUnit?.signInCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_sign_in_at' | translate }}</th>
          <td>{{medicalUnit?.lastSignInAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_sign_in_ip' | translate }}</th>
          <td>{{medicalUnit?.lastSignInIp}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.confirmation_email' | translate }}</th>
          <td>{{medicalUnit?.confirmationEmail}}</td>
        </tr>

        </tbody>
      </table>

      <!--<table class="table m-table m-table&#45;&#45;head-separator-metal">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>{{ 'admin_panel.crm.title' | translate }}</th>-->
          <!--<th></th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
          <!--<th>{{ 'admin_panel.crm.is_synced' | translate }}</th>-->
          <!--<td>-->
            <!--<span *ngIf="medicalUnit?.isSyncedWithCrm" class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;secondary">{{ 'admin_panel.crm.yes_is_synced' | translate }}</span>-->
            <!--<span *ngIf="!medicalUnit?.isSyncedWithCrm" class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;secondary">{{ 'admin_panel.crm.no_is_not_synced' | translate }}</span>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>{{ 'admin_panel.crm.date_of_sync' | translate }}</th>-->
          <!--<td>{{medicalUnit?.dateOfCrmSync}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>{{ 'admin_panel.crm.crm_errors' | translate }}</th>-->
          <!--<td>{{medicalUnit?.crmErrors}}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->

      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.doctors.permissions.title' | translate }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.doctors.permissions.can_edit_patients' | translate }}</th>
          <td>
            <span *ngIf="medicalUnit?.canEditPatients" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.doctors.permissions.can' | translate }}</span>
            <span *ngIf="!medicalUnit?.canEditPatients" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.doctors.permissions.cant' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.doctors.permissions.can_edit_devices' | translate }}</th>
          <td>
            <span *ngIf="medicalUnit?.canEditDevices" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.doctors.permissions.can' | translate }}</span>
            <span *ngIf="!medicalUnit?.canEditDevices" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.doctors.permissions.cant' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.doctors.permissions.can_see_medical_records' | translate }}</th>
          <td>
            <span *ngIf="medicalUnit?.canSeeMedicalRecords" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.doctors.permissions.can' | translate }}</span>
            <span *ngIf="!medicalUnit?.canSeeMedicalRecords" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.doctors.permissions.cant' | translate }}</span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.attributes.audits' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <tbody class="m-datatable__body">
          <tr *ngIf="!audits?.length" class="m-datatable__row" style="height: 64px;">{{'admin_panel.pagination.no_matches' | translate}}</tr>
          <tr *ngFor="let row of audits" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">
              <a routerLink="/{{row.userProfileType}}s/{{row.userId}}">{{row.userName}}</a>
              <p>{{row.createdAt}}</p>
            </td>
            <td>
              <table>
                <tbody>
                <tr *ngFor="let change of row.auditedChanges">
                  <td style="text-align: right;font-weight: 500;width: 300px">{{ change[0] | translate }}: </td>
                  <td style="padding-left:10px;">
                    <span style="text-decoration: line-through;color: #e74c3c"> {{changedParameter(change)}} </span>
                    <span> {{newParameter(change)}} </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+audits?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


</div>
