<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.accepted_logs' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/accepted_logs">
						<span class="m-nav__link-text">
							{{ 'labels.accepted_logs' | translate}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/accepted_logs/{{id}}">
						<span class="m-nav__link-text">
							{{acceptedLog?.name}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{'admin_panel.accepted_logs.show' | translate}}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/accepted_logs/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
        <a class="btn btn-danger s-btn s-btn--custom m-btn--air m-btn--pill" (click)="deleteLog(acceptedLog)">
          <span>{{'admin_panel.pagination.buttons.delete' | translate}}</span>
        </a>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{'admin_panel.accepted_logs.attributes.id' | translate}}</th>
          <th>{{acceptedLog?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{'admin_panel.accepted_logs.attributes.file_name' | translate}}</th>
          <td>{{acceptedLog?.name}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.accepted_logs.attributes.date' | translate}}</th>
          <td>{{acceptedLog?.createdAt}}</td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
