<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.unauthorized_examinations' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unauthorized_examinations">
						<span class="m-nav__link-text">
							{{ 'labels.unauthorized_examinations' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unauthorized_examinations/{{id}}">
						<span class="m-nav__link-text">
							{{id}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">

  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{ 'admin_panel.examinations.show_unauthorize' | translate }}</h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a class="btn m-btn--pill m-btn--air btn-primary" (click)="authorize(id)">
              <span style="color:white">{{'admin_panel.pagination.buttons.authorize' | translate}}</span>
            </a>
          </div>
        </div>

        <div class="m-portlet__body">
          <table class="table m-table m-table--head-separator-metal">
            <thead>
            <tr>
              <th>{{ 'admin_panel.examinations.attributes.id' | translate }}:</th>
              <th colspan="3">{{examination?.id}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ 'admin_panel.examinations.attributes.patient' | translate }}:</td>
              <th><a routerLink="/patients/{{examination?.patientId}}">{{examination?.patientName}}</a></th>
              <td>{{ 'admin_panel.examinations.attributes.declared_patient' | translate }}:</td>
              <th>{{examination?.declaredPatient}}</th>
            </tr>
            <tr>
              <td>{{ 'admin_panel.examinations.attributes.doctor' | translate }}:</td>
              <th><a routerLink="/doctors/{{examination?.doctorId}}">{{examination?.doctorName}}</a></th>
              <td>{{ 'admin_panel.examinations.attributes.declared_doctor' | translate }}:</td>
              <th>{{examination?.declaredDoctor}}</th>
            </tr>
            <tr>
              <td>{{ 'admin_panel.examinations.attributes.device' | translate }}:</td>
              <th><a routerLink="/devices/{{examination?.deviceId}}">{{examination?.deviceName}}</a></th>
              <td>{{ 'admin_panel.examinations.attributes.medical_unit' | translate }}:</td>
              <th><a routerLink="/medical_units/{{examination?.medicalUnitId}}">{{examination?.medicalUnitName}}</a></th>
            </tr>
            <tr>
              <td>{{ 'admin_panel.examinations.attributes.created_at' | translate }}:</td>
              <th>{{examination?.createdAt}}</th>
            </tr>
            <tr>
              <td>{{ 'admin_panel.examinations.attributes.baby_heart_rate' | translate }}:</td>
              <th>{{examination?.babyHeartRate}}</th>
            </tr>
            <tr>
              <td>{{ 'admin_panel.examinations.attributes.mother_heart_rate' | translate }}:</td>
              <th>{{examination?.motherHeartRate}}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
