<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.reported_errors' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/reported_errors">
						<span class="m-nav__link-text">
							{{ 'labels.reported_errors' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.reported_errors' | translate}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1">
            <div class="form-group m-form__group row align-items-center">
              <div class="col-md-4">
                <div class="m-input-icon m-input-icon--left">
                  <input class="form-control m-input" id="generalSearch" [(ngModel)]="query" (input)="loadRecords(1)" type="text" placeholder="{{ 'admin_panel.pagination.search' | translate }}">
                  <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-search"></i></span></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:40px;">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{'admin_panel.reported_errors.attributes.type_of_error' | translate}}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.typeOfError" (change)="loadRecords(1)">
                    <option value="">{{'admin_panel.reported_errors.types.all' | translate}}</option>
                    <option value="device">{{'admin_panel.reported_errors.types.device' | translate}}</option>
                    <option value="platform">{{'admin_panel.reported_errors.types.platform' | translate}}</option>
                    <option value="consultation">{{'admin_panel.reported_errors.types.consultation' | translate}}</option>
                    <option value="other">{{'admin_panel.reported_errors.types.other' | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>

            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{'admin_panel.reported_errors.attributes.status' | translate}}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.status" (change)="loadRecords(1)">
                    <option value="">{{'admin_panel.reported_errors.statuses.all' | translate}}</option>
                    <option value="reported">{{'admin_panel.reported_errors.statuses.reported' | translate}}</option>
                    <option value="in_progress">{{'admin_panel.reported_errors.statuses.in_progress' | translate}}</option>
                    <option value="resolved">{{'admin_panel.reported_errors.statuses.resolved' | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <thead class="m-datatable__head">
          <tr class="m-datatable__row">
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('id')">
              {{'admin_panel.reported_errors.attributes.id' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='id' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='id' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('email')">
              {{'admin_panel.reported_errors.attributes.email' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='email' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='email' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('userId')">
              {{'admin_panel.reported_errors.attributes.user' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='userId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='userId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('text')">
              {{'admin_panel.reported_errors.attributes.text' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='text' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='text' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('typeOfError')">
              {{'admin_panel.reported_errors.attributes.type_of_error' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='typeOfError' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='typeOfError' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('status')">
              {{'admin_panel.reported_errors.attributes.status' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='status' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='status' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('createdAt')">
              {{'admin_panel.reported_errors.attributes.created_at' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='createdAt' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='createdAt' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('dateOfIssue')">
              {{'admin_panel.reported_errors.attributes.date_of_issue' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='dateOfIssue' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='dateOfIssue' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('dateOfSolution')">
              {{'admin_panel.reported_errors.attributes.date_of_solution' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='dateOfSolution' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='dateOfSolution' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" style="min-width:90px">{{'admin_panel.pagination.actions' | translate}}</th>
          </tr>
          </thead>

          <tbody class="m-datatable__body">
          <tr *ngIf="!reportedErrors?.length" class="m-datatable__row text-center" style="height: 64px;">
            <td colspan="10" class="m-datatable__cell">{{'admin_panel.pagination.no_matches' | translate}}</td>
          </tr>
          <tr *ngFor="let row of reportedErrors" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">{{row.id}}</td>
            <td class="m-datatable__cell">{{row.email}}</td>
            <td class="m-datatable__cell"><a routerLink="/{{row.userProfileType}}s/{{row.userId}}">{{row.userName}}</a></td>
            <td class="m-datatable__cell">{{row.text}}</td>
            <td class="m-datatable__cell">{{typesOfError[row.typeOfError]}}</td>
            <td class="m-datatable__cell">{{statuses[row.status]}}</td>
            <td class="m-datatable__cell">{{row.createdAt}}</td>
            <td class="m-datatable__cell">{{row.dateOfIssue}}</td>
            <td class="m-datatable__cell">{{row.dateOfSolution}}</td>
            <td class="m-datatable__cell">
              <a [routerLink]="[row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.show' | translate}}">
                <i class="la la-file-text"></i>
              </a>
              <a [routerLink]="['edit', row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.edit' | translate}}">
                <i class="la la-edit"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+reportedErrors?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
