<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.call_centers' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/call_centers">
						<span class="m-nav__link-text">
							{{ 'labels.call_centers' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/call_centers/{{id}}">
						<span class="m-nav__link-text">
							{{callCenterName}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/call_centers/edit/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.pagination.buttons.edit' | translate}}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editCallCenterForm" (submit)="updateCallCenter()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editCallCenterForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editCallCenterForm.controls.firstName.valid && (editCallCenterForm.controls.firstName.dirty || submitted)"
             [class.has-success]="editCallCenterForm.controls.firstName.valid && (editCallCenterForm.controls.firstName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.first_name' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="callCenter.firstName" formControlName="firstName" id="firstName" name="firstName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.first_name' | translate }}">
            <div class="form-control-feedback" *ngIf="!editCallCenterForm.controls.firstName.valid && (editCallCenterForm.controls.firstName.dirty || submitted)">
              <p *ngIf="editCallCenterForm.controls.firstName.errors.required">{{ 'admin_panel.patients.form.first_name_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editCallCenterForm.controls.lastName.valid && (editCallCenterForm.controls.lastName.dirty || submitted)"
             [class.has-success]="editCallCenterForm.controls.lastName.valid && (editCallCenterForm.controls.lastName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.last_name' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="callCenter.lastName" formControlName="lastName" id="lastName" name="lastName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.last_name' | translate }}">
            <div class="form-control-feedback" *ngIf="!editCallCenterForm.controls.lastName.valid && (editCallCenterForm.controls.lastName.dirty || submitted)">
              <p *ngIf="editCallCenterForm.controls.lastName.errors.required">{{ 'admin_panel.patients.form.last_name_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editCallCenterForm.controls.licence.valid && (editCallCenterForm.controls.licence.dirty || submitted)"
             [class.has-success]="editCallCenterForm.controls.licence.valid && (editCallCenterForm.controls.licence.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.licence' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="callCenter.licence" formControlName="licence" id="licence" name="licence" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.licence' | translate }}">
            <div class="form-control-feedback" *ngIf="!editCallCenterForm.controls.licence.valid && (editCallCenterForm.controls.licence.dirty || submitted)">
              <p *ngIf="editCallCenterForm.controls.licence.errors.required">{{ 'admin_panel.patients.form.licence_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editCallCenterForm.controls.email.valid && (editCallCenterForm.controls.email.dirty || submitted)"
             [class.has-success]="editCallCenterForm.controls.email.valid && (editCallCenterForm.controls.email.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.email' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="callCenter.email" formControlName="email" id="email" name="email" type="email" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.email' | translate }}">
            <div class="form-control-feedback" *ngIf="!editCallCenterForm.controls.email.valid && (editCallCenterForm.controls.email.dirty || submitted)">
              <p *ngIf="editCallCenterForm.controls.email.errors.required">{{ 'admin_panel.patients.form.email_is_required' | translate }}</p>
              <p *ngIf="editCallCenterForm.controls.email.errors.email">{{ 'admin_panel.patients.form.wrong_email' | translate }}</p>
              <p *ngIf="editCallCenterForm.controls.email.errors.unique">{{ 'admin_panel.patients.form.taken_email' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editCallCenterForm.controls.phoneNumber.valid && (editCallCenterForm.controls.phoneNumber.dirty || submitted)"
             [class.has-success]="editCallCenterForm.controls.phoneNumber.valid && (editCallCenterForm.controls.phoneNumber.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.patients.attributes.phone_number' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="callCenter.phoneNumber" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.patients.attributes.phone_number' | translate }}">
            <div class="form-control-feedback" *ngIf="!editCallCenterForm.controls.phoneNumber.valid && (editCallCenterForm.controls.phoneNumber.dirty || submitted)">
              <p *ngIf="editCallCenterForm.controls.phoneNumber.errors.required">{{ 'admin_panel.patients.form.phone_number_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editCallCenterForm.controls.lang.valid && (editCallCenterForm.controls.lang.dirty || submitted)"
             [class.has-success]="editCallCenterForm.controls.lang.valid && (editCallCenterForm.controls.lang.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'lang' | translate }} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="callCenter.lang" formControlName="lang" name="lang" id="lang">
              <option value="pl">{{ 'langs.pl' | translate }}</option>
              <option value="en">{{ 'langs.en' | translate }}</option>
              <option value="fi">{{ 'langs.fi' | translate }}</option>
            </select>
          </div>
        </div>


      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/call_centers/{{id}}" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
