<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.reported_errors' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/reported_errors">
						<span class="m-nav__link-text">
							{{ 'labels.reported_errors' | translate}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/reported_errors/{{id}}">
						<span class="m-nav__link-text">
							{{reportedError?.id}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{'admin_panel.reported_errors.show' | translate}}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/reported_errors/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.id' | translate}}</th>
          <th>{{reportedError?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.email' | translate}}</th>
          <td>{{reportedError?.email}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.user' | translate}}</th>
          <td><a routerLink="/{{reportedError?.userProfileType}}s/{{reportedError?.userId}}">{{reportedError?.userName}}</a></td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.text' | translate}}</th>
          <td>{{reportedError?.text}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.type_of_error' | translate}}</th>
          <td>{{typesOfError[reportedError?.typeOfError]}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.status' | translate}}</th>
          <td>{{statuses[reportedError?.status]}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.created_at' | translate}}</th>
          <td>{{reportedError?.createdAt}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.date_of_issue' | translate}}</th>
          <td>{{reportedError?.dateOfIssue}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.date_of_solution' | translate}}</th>
          <td>{{reportedError?.dateOfSolution}}</td>
        </tr>
        <tr>
          <th>{{'admin_panel.reported_errors.attributes.comment' | translate}}</th>
          <td>{{reportedError?.comment}}</td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
