<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.devices' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/devices">
						<span class="m-nav__link-text">
							{{ 'labels.devices' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/devices/{{id}}">
						<span class="m-nav__link-text">
							{{device?.identifier}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.devices.show' | translate }}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/devices/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.id' | translate }}</th>
          <th>{{device?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.identifier' | translate }}</th>
          <td>{{device?.identifier}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.pin' | translate }}</th>
          <td>{{device?.pin}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.medical_unit' | translate }}</th>
          <td>
            <a routerLink="/medical_units/{{device?.medicalUnitId}}">{{device?.medicalUnit}}</a>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.doctor' | translate }}</th>
          <td>
            <a routerLink="/doctors/{{device?.doctorId}}">{{device?.doctor}}</a>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.patient' | translate }}</th>
          <td>
            <a routerLink="/patients/{{device?.patientId}}">{{device?.patient}}</a>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.merchant_user' | translate }}</th>
          <td>
            <a routerLink="/merchant_users/{{device?.merchantUserId}}">{{device?.merchant}}</a>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.comments' | translate }}</th>
          <td>{{device?.comments}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.release_date' | translate }}</th>
          <td>{{device?.dateOfDeviceRelease}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.devices.attributes.created_at' | translate }}</th>
          <td>{{device?.createdAt}}</td>
        </tr>

        </tbody>
      </table>

      <!--<table class="table m-table m-table&#45;&#45;head-separator-metal">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<th>{{ 'admin_panel.crm.title' | translate }}</th>-->
            <!--<th></th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
          <!--<tr>-->
            <!--<th>{{ 'admin_panel.crm.is_synced' | translate }}</th>-->
            <!--<td>-->
              <!--<span *ngIf="device?.isSyncedWithCrm" class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;secondary">{{ 'admin_panel.crm.yes_is_synced' | translate }}</span>-->
              <!--<span *ngIf="!device?.isSyncedWithCrm" class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;secondary">{{ 'admin_panel.crm.no_is_not_synced' | translate }}</span>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<th>{{ 'admin_panel.crm.date_of_sync' | translate }}</th>-->
            <!--<td>{{device?.dateOfCrmSync}}</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<th>{{ 'admin_panel.crm.crm_errors' | translate }}</th>-->
            <!--<td>{{device?.crmErrors}}</td>-->
          <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->

    </div>
  </div>

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.devices.attributes.audits' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <tbody class="m-datatable__body">
          <tr *ngIf="!audits?.length" class="m-datatable__row" style="height: 64px;">{{'admin_panel.pagination.no_matches' | translate}}</tr>
          <tr *ngFor="let row of audits" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">
              <a routerLink="/{{row.userProfileType}}s/{{row.userId}}">{{row.userName}}</a>
              <p>{{row.createdAt}}</p>
            </td>
            <td>
              <table>
                <tbody>
                <tr *ngFor="let change of row.auditedChanges">
                  <td style="text-align: right;font-weight: 500;width: 300px">{{ change[0] | translate }}: </td>
                  <td style="padding-left:10px;">
                    <span style="text-decoration: line-through;color: #e74c3c"> {{changedParameter(change)}} </span>
                    <span> {{newParameter(change)}} </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+audits?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
