<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.access' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/access">
						<span class="m-nav__link-text">
							{{ 'labels.access' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.access' | translate}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body m-form m-form--label-align-right">

      <div class="form-group m-form__group row">
        <label class="col-lg-6 col-form-label">
          <h4 style="line-height:22px">{{ 'admin_panel.access.block_for_patients' | translate}}</h4></label>
        <div class="col-lg-6">
          <span class="m-switch m-switch--brand m-switch--icon m-switch--lg">
            <label>
              <input [checked]="access.arePatientsBlocked" name="arePatientsBlocked" type="checkbox" (click)="showConfirmationForPatients($event)">
              <span></span>
            </label>
          </span>
        </div>
      </div>

      <div class="form-group m-form__group row">
        <label class="col-lg-6 col-form-label">
          <h4 style="line-height:22px">{{ 'admin_panel.access.block_for_doctors' | translate}}</h4></label>
        <div class="col-lg-6">
          <span class="m-switch m-switch--brand m-switch--icon m-switch--lg">
            <label>
              <input [checked]="access.areDoctorsBlocked" name="" type="checkbox" (click)="showConfirmationForDoctors($event)">
              <span></span>
            </label>
          </span>
        </div>
      </div>

      <div class="form-group m-form__group row">
        <label class="col-lg-6 col-form-label">
          <h4 style="line-height:22px">{{ 'admin_panel.access.block_for_call_centers' | translate}}</h4></label>
        <div class="col-lg-6">
          <span class="m-switch m-switch--brand m-switch--icon m-switch--lg">
            <label>
              <input [checked]="access.areCallCentersBlocked" name="" type="checkbox" (click)="showConfirmationForCallCenters($event)">
              <span></span>
            </label>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
