<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.examinations' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/examinations">
						<span class="m-nav__link-text">
							{{ 'labels.examinations' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/examinations/{{id}}">
						<span class="m-nav__link-text">
							{{id}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">

  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{ 'admin_panel.examinations.show' | translate }}</h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/examinations/edit/{{id}}">
              <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
            </a>
          </div>
        </div>

        <div class="m-portlet__body">
          <table class="table m-table m-table--head-separator-metal">
            <thead>
              <tr>
                <th>{{ 'admin_panel.examinations.attributes.id' | translate }}:</th>
                <th colspan="5">{{examination?.id}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ 'admin_panel.examinations.attributes.patient' | translate }}:</td>
                <th><a routerLink="/patients/{{examination?.patientId}}">{{examination?.patientName}}</a></th>
                <td>{{ 'admin_panel.patients.attributes.age' | translate }}:</td>
                <th>{{examination?.patient.age}}</th>
                <td>{{ 'admin_panel.examinations.attributes.baby_heart_rate' | translate }}:</td>
                <th>{{examination?.babyHeartRate}}</th>
              </tr>
              <tr>
                <td>{{ 'admin_panel.examinations.attributes.doctor' | translate }}:</td>
                <th><a routerLink="/doctors/{{examination?.doctorId}}">{{examination?.doctorName}}</a></th>
                <td>{{ 'admin_panel.patients.attributes.pregnancy_count' | translate }}:</td>
                <th>{{examination?.patient.pregnancyCount}}</th>
                <td>{{ 'admin_panel.examinations.attributes.mother_heart_rate' | translate }}:</td>
                <th>{{examination?.motherHeartRate}}</th>
              </tr>
              <tr>
                <td>{{ 'admin_panel.examinations.attributes.device' | translate }}:</td>
                <th><a routerLink="/devices/{{examination?.deviceId}}">{{examination?.deviceName}}</a></th>
                <td>{{ 'admin_panel.patients.attributes.birth_count' | translate }}:</td>
                <th>{{examination?.patient.birthCount}}</th>
                <td>{{ 'admin_panel.examinations.attributes.size' | translate }} toco.csv:</td>
                <th>{{examination?.tocoFileSize}}</th>
              </tr>
              <tr>
                <td>{{ 'admin_panel.examinations.attributes.created_at' | translate }}:</td>
                <th>{{examination?.createdAt}}</th>
                <td>{{ 'admin_panel.patients.attributes.pregnancy_week' | translate }}:</td>
                <th>{{examination?.pregnancyWeek}}</th>
                <td>{{ 'admin_panel.examinations.attributes.size' | translate }} hr.csv:</td>
                <th>{{examination?.hrFileSize}}</th>
              </tr>
              <tr>
                <td>{{ 'admin_panel.examinations.attributes.authorized_at' | translate }}:</td>
                <th>{{examination?.authorizedAt}}</th>
                <td>{{ 'admin_panel.examinations.attributes.identifier' | translate }}:</td>
                <th>{{examination?.identifier}}</th>
                <td>{{ 'admin_panel.examinations.attributes.size' | translate }} fhr.csv</td>
                <th>{{examination?.fhrFileSize}}</th>
              </tr>
              <tr>
                <td>{{ 'admin_panel.examinations.attributes.authorized_by' | translate }}:</td>
                <th>{{examination?.authorizedBy}}</th>
                <td>{{ 'admin_panel.examinations.attributes.duration' | translate }}:</td>
                <th>{{examination?.duration}}</th>
                <td>{{ 'admin_panel.examinations.attributes.size' | translate }} events.csv</td>
                <th>{{examination?.eventsFileSize}}</th>
              </tr>
              <tr>
                <td>{{ 'admin_panel.patients.attributes.diagnosis' | translate }}:</td>
                <th>{{examination?.patient.diagnosis}}</th>
                <td>{{ 'admin_panel.patients.attributes.medicine_taken' | translate }}:</td>
                <th>{{examination?.patient.medicineTaken}}</th>
                <td>{{ 'admin_panel.examinations.attributes.size' | translate }} ctg_input.raw</td>
                <th>{{examination?.ctgInputFileSize}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__body">
          <div id="legend-wrapper" style="margin-bottom:50px">
            <div class="legend pull-left">
              <button class="btn btn-outline-success btn-sm" (click)="switchHrChart()">
                <span *ngIf="chartHrOn">{{ 'admin_panel.examinations.chart.hide_hr' | translate }}</span>
                <span *ngIf="!chartHrOn">{{ 'admin_panel.examinations.chart.show_hr' | translate }}</span>
              </button>
            </div>
            <div class="legend pull-right">
              <i class="fa fa-heart" style="color:#68ba2e"></i>
              <span>
                <b>{{examination?.babyHeartRate}}</b> - {{ 'admin_panel.examinations.chart.baby' | translate }}
              </span>
              <i class="fa fa-heart" style="color:#3498db"></i>
              <span>
                <b>{{examination?.motherHeartRate}}</b> - {{ 'admin_panel.examinations.chart.mother' | translate }}
              </span>
            </div>
          </div>

          <div id="charts">
            <div>
              <div class="charts" style="width: 100%;">
                <div id="legend-hr">FHR/HR [bpm]</div>
                <canvas id="chart-hr" style="width: 1000px !important; height:396px !important" width="1000" height="396"></canvas>
                <div id="legend-fetal-movements">{{ 'admin_panel.examinations.chart.movements' | translate }}</div>
                <canvas *ngIf="chartsReady()" id="fetal-movements-chart" pbFetalMovementsChart [fma]="examination?.fetalMovementsArray" [marginLeft]="marginLeft" [marginRight]="marginRight" [chartWidth]="1000" (fmaReady)="fetalMovementsCallback($event[0])" style="margin-bottom: 20px;width: 1000px;height: 25px" width='1000' height='25'></canvas>
                <div id="legend-cramps">UC [j.]</div>
                <canvas id="chart-cramps" style="width: 1000px !important; height: 288px !important" width="1000" height="288"></canvas>

              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                {{ 'admin_panel.examinations.attributes.description' | translate }}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="text-center" style="margin-bottom: 20px;">
            <button class="btn btn-outline-success btn-lg m-btn m-btn--custom">
              <span>{{states[examination?.state]}}</span><br>
              <span style="font-size:12px" *ngIf="examination?.stateChangedAt && examination?.stateEditor">{{ 'admin_panel.examinations.attributes.added' | translate }}: {{examination?.stateChangedAt}} {{ 'admin_panel.examinations.attributes.by' | translate }} {{examination?.stateEditor}}</span>
            </button>
          </div>
          <div class="m-scrollable mCustomScrollbar" data-max-height="300" data-scrollable="true" data-scrollbar-shown="true" style="overflow: visible; height:auto !important; max-height: 300px; position: relative;">
            <div class="m-widget3">
              <div class="m-widget3__item" *ngIf="!descriptions?.length">
                <div class="m-widget3__body text-center">{{ 'admin_panel.examinations.attributes.no_descriptions' | translate }}</div>
              </div>
              <div class="m-widget3__item" *ngFor="let description of descriptions">
                <div class="m-widget3__header">
                  <div class="m-widget3__info" style="padding-left:0">
                    <span class="m-widget3__username">
                      <a routerLink="/{{description.authorProfileType}}s/{{description.userId}}">{{description.authorTitle}} {{description.authorFullName}} <span *ngIf="description.authorLicence">({{ 'admin_panel.examinations.attributes.licence' | translate }}: {{description.authorLicence}})</span></a>
                    </span><br>
                    <span class="m-widget3__time">{{description.createdAt}}</span>
                  </div>
                </div>
                <div class="m-widget3__body">
                  <p class="m-widget3__text">{{description.text}}</p>
                  <button *ngIf="currentUser.role === 'superadmin'" class="btn btn-danger btn-sm" (click)="deleteDescription(description)">{{'admin_panel.pagination.buttons.delete' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                {{ 'admin_panel.examinations.attributes.comments' | translate }}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-scrollable mCustomScrollbar" data-max-height="380" data-scrollable="true" data-scrollbar-shown="true" style="overflow: visible; height: auto !important; max-height: 380px; position: relative;">
            <div class="m-widget3">
              <div class="m-widget3__item" *ngIf="!comments?.length">
                <div class="m-widget3__body text-center">{{ 'admin_panel.examinations.attributes.no_comments' | translate }}</div>
              </div>
              <div class="m-widget3__item" *ngFor="let comment of comments">
                <div class="m-widget3__header">
                  <div class="m-widget3__info" style="padding-left:0">
                    <span class="m-widget3__username">
                      <a routerLink="/{{comment.authorProfileType}}s/{{comment.userId}}">{{comment.authorTitle}} {{comment.authorFullName}} <span *ngIf="comment.authorLicence">({{ 'admin_panel.examinations.attributes.licence' | translate }}: {{comment.authorLicence}})</span></a>
                    </span><br>
                    <span class="m-widget3__time">{{comment.createdAt}}</span>
                  </div>
                </div>
                <div class="m-widget3__body">
                  <p class="m-widget3__text">{{comment.text}}</p>
                  <button *ngIf="currentUser.role === 'superadmin'" class="btn btn-danger btn-sm" (click)="deleteComment(comment)">{{'admin_panel.pagination.buttons.delete' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--<div class="col-xl-6">-->
      <!--<div class="m-portlet">-->
        <!--<div class="m-portlet__head">-->
          <!--<div class="m-portlet__head-caption">-->
            <!--<div class="m-portlet__head-title">-->
              <!--<h3 class="m-portlet__head-text">-->
                <!--{{ 'admin_panel.crm.title' | translate }}-->
              <!--</h3>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="m-portlet__body">-->

          <!--<table class="table m-table m-table&#45;&#45;head-separator-metal">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th>{{ 'admin_panel.crm.is_synced' | translate }}:</th>-->
              <!--<th>-->
                <!--<span *ngIf="examination?.isSyncedWithCrm" class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;secondary">{{ 'admin_panel.crm.yes_is_synced' | translate }}</span>-->
                <!--<span *ngIf="!examination?.isSyncedWithCrm" class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;secondary">{{ 'admin_panel.crm.no_is_not_synced' | translate }}</span>-->
              <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
              <!--<th>{{ 'admin_panel.crm.date_of_sync' | translate }}:</th>-->
              <!--<td>{{examination?.dateOfCrmSync}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<th>{{ 'admin_panel.crm.crm_errors' | translate }}:</th>-->
              <!--<td>{{examination?.crmErrors}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="col-xl-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                {{ 'admin_panel.examinations.attributes.files' | translate }}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <button class="btn btn-success" *ngIf="examination?.tocoExist" (click)="downloadFile('toco')">
            <span class="button-file-name">toco.csv</span><br>
            <span class="button-file-size">{{ 'admin_panel.examinations.attributes.size' | translate }} {{examination?.tocoFileSize}}</span>
          </button>
          <button class="btn btn-success" *ngIf="examination?.hrExist" (click)="downloadFile('hr')">
            <span class="button-file-name">hr.csv</span><br>
            <span class="button-file-size">{{ 'admin_panel.examinations.attributes.size' | translate }} {{examination?.hrFileSize}}</span>
          </button>
          <button class="btn btn-success" *ngIf="examination?.fhrExist" (click)="downloadFile('fhr')">
            <span class="button-file-name">fhr.csv</span><br>
            <span class="button-file-size">{{ 'admin_panel.examinations.attributes.size' | translate }} {{examination?.fhrFileSize}}</span>
          </button>
          <button class="btn btn-success" *ngIf="examination?.eventsExist" (click)="downloadFile('events')">
            <span class="button-file-name">events.csv</span><br>
            <span class="button-file-size">{{ 'admin_panel.examinations.attributes.size' | translate }} {{examination?.eventsFileSize}}</span>
          </button>
          <button class="btn btn-success" *ngIf="examination?.ctgExist" (click)="downloadRaw()">
            <span class="button-file-name">ctg_input.raw</span><br>
            <span class="button-file-size">{{ 'admin_panel.examinations.attributes.size' | translate }} {{examination?.ctgInputFileSize}}</span>
          </button>

        </div>
      </div>
    </div>

  </div>

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.attributes.audits' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <tbody class="m-datatable__body">
          <tr *ngIf="!audits?.length" class="m-datatable__row" style="height: 64px;">{{'admin_panel.pagination.no_matches' | translate}}</tr>
          <tr *ngFor="let row of audits" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">
              <a routerLink="/{{row.userProfileType}}s/{{row.userId}}">{{row.userName}}</a>
              <div *ngIf="row.isConfirmed">
                <div *ngIf="row.isAccepted" style="color:#488220; border: 1px solid #488220; border-radius: 3px; float: left; padding:10px">
                  <span>{{'approved' | translate}}</span><br>
                  <span>{{row.confirmedAt}}</span>
                </div>
                <div *ngIf="!row.isAccepted" style="color:#e74c3c; border: 1px solid #e74c3c; border-radius: 3px; float: left; padding:10px">
                  <span>{{'unapproved' | translate}}</span><br>
                  <span>{{row.confirmedAt}}</span>
                  <p style="font-style:italic">"{{row.text}}"</p>
                </div>
              </div>
            </td>
            <td style="border-bottom: 1px solid black; border-right: 1px solid black;">
              <table>
                <tbody>
                <tr *ngFor="let change of row.auditedChanges">
                  <td style="text-align: right;font-weight: 500;width: 300px;"
                      [class.deleted]="row.action === 'destroy'"
                  >{{ change[0] | translate }}: </td>
                  <td style="padding-left:10px">
                    <span style="text-decoration: line-through;color: #e74c3c"> {{changedParameter(change)}} </span>
                    <span [class.deleted]="row.action==='destroy'"> {{newParameter(change)}} </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+audits?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>
</div>
