<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.accepted_logs' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/accepted_logs">
						<span class="m-nav__link-text">
							{{ 'labels.accepted_logs' | translate}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/accepted_logs/{{id}}">
						<span class="m-nav__link-text">
							{{acceptedLogName}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/accepted_logs/edit/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.pagination.buttons.edit' | translate}}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editAcceptedLogForm" (submit)="updateAcceptedLog()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editAcceptedLogForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editAcceptedLogForm.controls.name.valid && (editAcceptedLogForm.controls.name.dirty || submitted)"
             [class.has-success]="editAcceptedLogForm.controls.name.valid && (editAcceptedLogForm.controls.name.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.accepted_logs.attributes.file_name' | translate}} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="acceptedLog.name" formControlName="name" id="name" name="name" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.accepted_logs.attributes.file_name' | translate}}">
            <div class="form-control-feedback" *ngIf="!editAcceptedLogForm.controls.name.valid && (editAcceptedLogForm.controls.name.dirty || submitted)">
              <p *ngIf="editAcceptedLogForm.controls.name.errors.required">{{ 'admin_panel.accepted_logs.form.file_name_required' | translate}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/accepted_logs/{{id}}" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
