<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div 	id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul *ngIf="currentUser"	 class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/index" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-th-large"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'dashboard' | translate}}
							</span>
						</span>
					</span>
				</a>
			</li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/admin_users" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-user-o"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.admin_users' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/merchant_users" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-share-alt"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.merchant_users' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/certificates" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-certificate"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.certificates' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/devices" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-tablet"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.devices' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/doctors" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-user-md"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.doctors' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/medical_units" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-hospital-o"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.medical_units' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/call_centers" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-phone"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.call_centers' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/patients" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-heartbeat"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{ 'labels.patients' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/unaccepted_patients" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-user-plus"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.unaccepted_patients' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/examinations" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-line-chart"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.examinations' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/unauthorized_examinations" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-stop-circle"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.unauthorized_examinations' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/documentation_previews" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-file-text-o"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.documentation_previews' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/login_histories" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-history"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.login_history' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/device_logs" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-exclamation-circle"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.device_logs' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/accepted_logs" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-check-circle"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.accepted_logs' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='admin' || currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/reported_errors" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-comment-o"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.reported_errors' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

      <li *ngIf="currentUser?.role=='superadmin'" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
        <a  routerLink="/access" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-ban"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
                {{ 'labels.access' | translate}}
							</span>
						</span>
					</span>
        </a>
      </li>

		</ul>
	</div>
</div>
<!-- END: Left Aside -->
