<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.reported_errors' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/reported_errors">
						<span class="m-nav__link-text">
							{{ 'labels.reported_errors' | translate}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/reported_errors/{{id}}">
						<span class="m-nav__link-text">
							{{id}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/reported_errors/edit/{{id}}">
						<span class="m-nav__link-text">
							{{'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{'admin_panel.pagination.buttons.edit' | translate}}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editReportedErrorForm" (submit)="updateReportedError()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editReportedErrorForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.email' | translate}}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="reportedError.email" formControlName="email" disabled="true" id="email" name="email" type="text" class="form-control m-input">
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.text' | translate}}</label>
          <div class="col-lg-6">
            <textarea [(ngModel)]="reportedError.text" formControlName="text" disabled="true" rows="3" id="text" name="text" type="text" class="form-control m-input"></textarea>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.date_of_issue' | translate}}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="reportedError.dateOfIssue" formControlName="dateOfIssue" disabled="true" id="dateOfIssue" name="dateOfIssue" type="text" class="form-control m-input">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editReportedErrorForm.controls.typeOfError.valid && (editReportedErrorForm.controls.typeOfError.dirty || submitted)"
             [class.has-success]="editReportedErrorForm.controls.typeOfError.valid && (editReportedErrorForm.controls.typeOfError.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.type_of_error' | translate}} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="reportedError.typeOfError" formControlName="typeOfError" name="typeOfError" id="typeOfError">
              <option value="device">{{'admin_panel.reported_errors.types.device' | translate}}</option>
              <option value="platform">{{'admin_panel.reported_errors.types.platform' | translate}}</option>
              <option value="consultation">{{'admin_panel.reported_errors.types.consultation' | translate}}</option>
              <option value="other">{{'admin_panel.reported_errors.types.other' | translate}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="!editReportedErrorForm.controls.typeOfError.valid && (editReportedErrorForm.controls.typeOfError.dirty || submitted)">
              <p *ngIf="editReportedErrorForm.controls.typeOfError.errors.required">{{'admin_panel.reported_errors.form.type_is_required' | translate}}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editReportedErrorForm.controls.status.valid && (editReportedErrorForm.controls.status.dirty || submitted)"
             [class.has-success]="editReportedErrorForm.controls.status.valid && (editReportedErrorForm.controls.status.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.status' | translate}} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="reportedError.status" formControlName="status" name="status" id="status">
              <option value="reported">{{'admin_panel.reported_errors.statuses.reported' | translate}}</option>
              <option value="in_progress">{{'admin_panel.reported_errors.statuses.in_progress' | translate}}</option>
              <option value="resolved">{{'admin_panel.reported_errors.statuses.resolved' | translate}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="!editReportedErrorForm.controls.status.valid && (editReportedErrorForm.controls.status.dirty || submitted)">
              <p *ngIf="editReportedErrorForm.controls.status.errors.required">{{'admin_panel.reported_errors.form.status_is_required' | translate}}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editReportedErrorForm.controls.dateOfSolution.valid && (editReportedErrorForm.controls.dateOfSolution.dirty || submitted)"
             [class.has-success]="editReportedErrorForm.controls.dateOfSolution.valid && (editReportedErrorForm.controls.dateOfSolution.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.date_of_solution' | translate}}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="reportedError.dateOfSolution" formControlName="dateOfSolution" class="form-control m-input" name="dateOfSolution" type="text" mask="99.99.9999" slotchar="dd.mm.yyyy" placeholder="dd.mm.yyyy">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editReportedErrorForm.controls.comment.valid && (editReportedErrorForm.controls.comment.dirty || submitted)"
             [class.has-success]="editReportedErrorForm.controls.comment.valid && (editReportedErrorForm.controls.comment.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{'admin_panel.reported_errors.attributes.comment' | translate}}</label>
          <div class="col-lg-6">
            <textarea [(ngModel)]="reportedError.comment" formControlName="comment" rows="3" id="comment" name="comment" type="text" class="form-control m-input" placeholder="{{'admin_panel.reported_errors.attributes.comment' | translate}}"></textarea>
          </div>
        </div>

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{'admin_panel.common.save' | translate}}</button>
              <button routerLink="/reported_errors/{{id}}" type="reset" class="btn btn-secondary">{{'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
