<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.devices' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/devices">
						<span class="m-nav__link-text">
							{{ 'labels.devices' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/devices/{{id}}">
						<span class="m-nav__link-text">
							{{deviceName}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/devices/edit/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.pagination.buttons.edit' | translate}}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editDeviceForm" (submit)="updateDevice()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editDeviceForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editDeviceForm.controls.identifier.valid && (editDeviceForm.controls.identifier.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.identifier.valid && (editDeviceForm.controls.identifier.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.identifier' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="device.identifier" formControlName="identifier" id="identifier" name="identifier" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.devices.attributes.identifier' | translate }}">
            <div class="form-control-feedback" *ngIf="!editDeviceForm.controls.identifier.valid && (editDeviceForm.controls.identifier.dirty || submitted)">
              <p *ngIf="editDeviceForm.controls.identifier.errors.required">{{ 'admin_panel.devices.form.identifier_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editDeviceForm.controls.pin.valid && (editDeviceForm.controls.pin.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.pin.valid && (editDeviceForm.controls.pin.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.pin' | translate }}</label>
          <div class="col-lg-6">
            <input [(ngModel)]="device.pin" formControlName="pin" id="pin" name="pin" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.devices.attributes.pin' | translate }}">
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!doctorBelongsToMedicalUnit() || !editDeviceForm.controls.medicalUnitId.valid && (editDeviceForm.controls.medicalUnitId.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.medicalUnitId.valid && (editDeviceForm.controls.medicalUnitId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.medical_unit' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="device.medicalUnitId" (change)="choseMedicalUnit($event.target.value)" formControlName="medicalUnitId" name="medicalUnitId" id="medicalUnitId">
              <option value="">{{ 'admin_panel.devices.attributes.all_patients' | translate }}</option>
              <option *ngFor="let medicalUnit of medicalUnits" [value]="medicalUnit.id">{{medicalUnit.name}}</option>
            </select>
            <div class="form-control-feedback">
              <p *ngIf="!doctorBelongsToMedicalUnit()">{{ 'admin_panel.devices.form.medical_unit_does_not_match_to_doctor' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!doctorBelongsToMedicalUnit() || !editDeviceForm.controls.doctorId.valid && (editDeviceForm.controls.doctorId.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.doctorId.valid && (editDeviceForm.controls.doctorId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.doctor' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="device.doctorId" (change)="choseDoctor($event.target.value)" formControlName="doctorId" name="doctorId" id="doctorId">
              <option value="">{{ 'admin_panel.devices.attributes.all_doctors' | translate }}</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</option>
            </select>
            <div class="form-control-feedback">
              <p *ngIf="!doctorBelongsToMedicalUnit()">{{ 'admin_panel.devices.form.doctor_does_not_match_medical_unit' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!patientBelongsToDoctor() || !editDeviceForm.controls.patientId.valid && (editDeviceForm.controls.patientId.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.patientId.valid && (editDeviceForm.controls.patientId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.patient' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="device.patientId" (change)="chosePatient($event.target.value)" formControlName="patientId" name="patientId" id="patientId">
              <option value="">{{ 'admin_panel.devices.attributes.all_patients' | translate }}</option>
              <option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}}</option>
            </select>
            <div class="form-control-feedback">
              <p *ngIf="!patientBelongsToDoctor()">{{ 'admin_panel.devices.form.patient_does_not_match_doctor' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editDeviceForm.controls.merchantUserId.valid && (editDeviceForm.controls.merchantUserId.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.merchantUserId.valid && (editDeviceForm.controls.merchantUserId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.merchant_user' | translate }}</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="device.merchantUserId" formControlName="merchantUserId" name="merchantUserId" id="merchantUserId">
              <option value="">{{ 'admin_panel.devices.attributes.all_doctors' | translate }}</option>
              <option *ngFor="let merchant of merchants" value="{{merchant.id}}">{{merchant.email}}</option>
            </select>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editDeviceForm.controls.dateOfDeviceRelease.valid && (editDeviceForm.controls.dateOfDeviceRelease.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.dateOfDeviceRelease.valid && (editDeviceForm.controls.dateOfDeviceRelease.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.release_date' | translate }}</label>
          <div class="col-lg-6">
            <input class="form-control m-input" formControlName="dateOfDeviceRelease" placeholder="dd.mm.yyyy" [(ngModel)]="device.dateOfDeviceRelease">
            <div class="form-control-feedback" *ngIf="!editDeviceForm.controls.dateOfDeviceRelease.valid && (editDeviceForm.controls.dateOfDeviceRelease.dirty || submitted)">
              <p *ngIf="editDeviceForm.controls.dateOfDeviceRelease.errors.pattern">{{ 'admin_panel.devices.form.wrong_date' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editDeviceForm.controls.comments.valid && (editDeviceForm.controls.comments.dirty || submitted)"
             [class.has-success]="editDeviceForm.controls.comments.valid && (editDeviceForm.controls.comments.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.devices.attributes.comments' | translate }}</label>
          <div class="col-lg-6">
            <textarea [(ngModel)]="device.comments" formControlName="comments" id="comments" name="comments" rows="3" class="form-control m-input" placeholder="{{ 'admin_panel.devices.attributes.comments' | translate }}"></textarea>
          </div>
        </div>



      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/devices" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
