<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.certificates' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/certificates">
						<span class="m-nav__link-text">
							{{ 'labels.certificates' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.certificates' | translate}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-12 order-xl-3 row" style="display:flex">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.status' | translate}}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.status" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.devices.attributes.all_doctors' | translate}}</option>
                    <option value="0">active</option>
                    <option value="1">revoked</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.device' | translate}}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.deviceId" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.certificates.attributes.all_devices' | translate}}</option>
                    <option *ngFor="let device of devices" [value]="device.id">{{device.name}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>

          </div>

          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:20px;">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.subject' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <input class="form-control m-input" [(ngModel)]="filters.subject" (input)="loadRecords(1)" type="text" placeholder="{{'admin_panel.pagination.search' | translate}}">
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.serial' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <input class="form-control m-input" [(ngModel)]="filters.serial" (input)="loadRecords(1)" type="text" placeholder="{{'admin_panel.pagination.search' | translate}}">
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
          </div>

          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:20px;">
            <div class="col-md-4">
              <div class="m-form__group">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.created_at' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <div class="input-daterange input-group">
                    <input type="text" class="form-control m-input" placeholder="dd.mm.yyyy" [(ngModel)]="filters.createdAtStart" (input)="loadRecords(1)">
                    <div class="input-group-append">
                      <span class="input-group-text" style="padding-top: 8px;display:block">
                        <i class="la la-ellipsis-h"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="dd.mm.yyyy" [(ngModel)]="filters.createdAtEnd" (input)="loadRecords(1)">
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="m-form__group">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.revoked_at' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <div class="input-daterange input-group">
                    <input type="text" class="form-control m-input" placeholder="dd.mm.yyyy" [(ngModel)]="filters.revokedAtStart" (input)="loadRecords(1)">
                    <div class="input-group-append">
                      <span class="input-group-text" style="padding-top: 8px;display:block">
                        <i class="la la-ellipsis-h"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="dd.mm.yyyy" [(ngModel)]="filters.revokedAtEnd" (input)="loadRecords(1)">
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="m-form__group">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.certificates.attributes.valid_to' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <div class="input-daterange input-group">
                    <input type="text" class="form-control m-input" placeholder="dd.mm.yyyy" [(ngModel)]="filters.validToStart" (input)="loadRecords(1)">
                    <div class="input-group-append">
                      <span class="input-group-text" style="padding-top: 8px;display:block">
                        <i class="la la-ellipsis-h"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="dd.mm.yyyy" [(ngModel)]="filters.validToEnd" (input)="loadRecords(1)">
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <thead class="m-datatable__head">
          <tr class="m-datatable__row">
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('id')">
              {{ 'admin_panel.certificates.attributes.id' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='id' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='id' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('state')">
              {{ 'admin_panel.certificates.attributes.status' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='state' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='state' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('deviceId')">
              {{ 'admin_panel.certificates.attributes.device' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='deviceId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='deviceId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('subject')">
              {{ 'admin_panel.certificates.attributes.subject' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='subject' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='subject' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('serial')">
              {{ 'admin_panel.certificates.attributes.serial' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='serial' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='serial' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('created_at')">
              {{ 'admin_panel.certificates.attributes.created_at' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='created_at' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='created_at' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('revoked_at')">
              {{ 'admin_panel.certificates.attributes.revoked_at' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='revoked_at' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='revoked_at' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('valid_to')">
              {{ 'admin_panel.certificates.attributes.valid_to' | translate}}
              <i class="la la-arrow-up" *ngIf="sortModel=='valid_to' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='valid_to' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort">{{'admin_panel.pagination.actions' | translate}}</th>
          </tr>
          </thead>

          <tbody class="m-datatable__body">
          <tr *ngIf="!certificates?.length" class="m-datatable__row text-center" style="height: 64px;">
            <td colspan="9" class="m-datatable__cell">{{'admin_panel.pagination.no_matches' | translate}}</td>
          </tr>
          <tr *ngFor="let row of certificates" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">{{row.id}}</td>
            <td class="m-datatable__cell">{{row.state}}</td>
            <td class="m-datatable__cell"><a routerLink="/devices/{{row.deviceId}}">{{row.device}}</a></td>
            <td class="m-datatable__cell" style="max-width:200px;word-wrap: break-word">{{row.subject}}</td>
            <td class="m-datatable__cell">{{row.serial}}</td>
            <td class="m-datatable__cell">{{row.createdAt}}</td>
            <td class="m-datatable__cell">{{row.revokedAt}}</td>
            <td class="m-datatable__cell">{{row.validTo}}</td>

            <td class="m-datatable__cell">
              <a [routerLink]="[row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.show' | translate}}">
                <i class="la la-file-text"></i>
              </a>
              <a *ngIf="!row.active" (click)="activate(row.id)" href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.activate' | translate}}">
                <i class="la la-edit"></i>
              </a>
              <a *ngIf="row.active" (click)="deactivate(row.id)" href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.deactivate' | translate}}">
                <i class="la la-edit"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+certificates?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

