<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.unauthorized_examinations' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unauthorized_examinations">
						<span class="m-nav__link-text">
							{{ 'labels.unauthorized_examinations' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unauthorized_examinations/{{id}}">
						<span class="m-nav__link-text">
							{{id}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unauthorized_examinations/edit/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.pagination.buttons.edit' | translate}}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editExaminationForm" (submit)="updateExamination()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editExaminationForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editExaminationForm.controls.doctorId.valid && (editExaminationForm.controls.doctorId.dirty || submitted)"
             [class.has-success]="editExaminationForm.controls.doctorId.valid && (editExaminationForm.controls.doctorId.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.examinations.attributes.doctor' | translate }} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="examination.doctorId" (change)="choseDoctor($event.target.value)" formControlName="doctorId" name="doctorId" id="doctorId">
              <option value="">{{ 'admin_panel.examinations.attributes.all_doctors' | translate }}</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="!editExaminationForm.controls.doctorId.valid && (editExaminationForm.controls.doctorId.dirty || submitted)">
              <p *ngIf="editExaminationForm.controls.doctorId.errors.required">{{ 'admin_panel.examinations.form.doctor_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editExaminationForm.controls.patientId.valid && (editExaminationForm.controls.patientId.dirty || submitted)"
             [class.has-success]="editExaminationForm.controls.patientId.valid && (editExaminationForm.controls.patientId.dirty || submitted)"
             [class.has-danger]="!patientBelongsToDoctor()">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.examinations.attributes.patient' | translate }} *</label>
          <div class="col-lg-6">
            <select class="form-control m-input" [(ngModel)]="examination.patientId" (change)="chosePatient($event.target.value)" formControlName="patientId" name="patientId" id="patientId">
              <option value="">{{ 'admin_panel.examinations.attributes.all_patients' | translate }}</option>
              <option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}}</option>
            </select>
            <div class="form-control-feedback">
              <p *ngIf="!patientBelongsToDoctor()">{{ 'admin_panel.devices.form.patient_does_not_match_doctor' | translate }}</p>
              <p *ngIf="!editExaminationForm.controls.patientId.valid && (editExaminationForm.controls.patientId.dirty || submitted) && editExaminationForm.controls.patientId.errors.required">{{ 'admin_panel.examinations.form.patient_is_required' | translate }}</p>
            </div>
          </div>
        </div>





      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/unauthorized_examinations" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
