<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-3.jpg);height: 100vh;">
  <div class="text-right" style="padding-right:10px">
    <a (click)="setLanguage('pl')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/pl.png">
    </a>
    <a (click)="setLanguage('en')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/en.png">
    </a>
    <a (click)="setLanguage('fi')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/fi.png">
    </a>
    <a (click)="setLanguage('sv')" style="cursor:pointer">
      <img src="./assets/app/media/img/flags/sv.png">
    </a>
  </div>
  <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
    <div class="m-login__container">
      <div class="m-login__logo">
        <a href="#">
          <img src="./assets/app/media/img/logos/logo_big.png" width="400">
        </a>
      </div>
      <div class="m-login__signin">
        <div class="m-login__head">
          <h3 class="m-login__title">
            {{ 'admin_panel.reset_password.title' | translate}}
          </h3>
        </div>
        <form (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" class="m-login__form m-form" action="">
          <ng-template #alertSignin></ng-template>
          <div class="form-group m-form__group">
            <input class="form-control m-input"   type="password" placeholder="{{ 'admin_panel.login.password' | translate}}" name="password" [(ngModel)]="model.password" #password="ngModel" autocomplete="off">
          </div>
          <div class="form-group m-form__group">
            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="{{ 'admin_panel.login.password_confirmation' | translate}}" name="passwordConfirmation" [(ngModel)]="model.passwordConfirmation" #passwordConfirmation="ngModel">
          </div>
          <div class="row m-login__form-sub">
            <div class="col m--align-right m-login__form-right">
              <a href="/login" class="m-link">
                {{ 'admin_panel.login.title' | translate}}
              </a>
            </div>
          </div>
          <div class="m-login__form-action">
            <button [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
              {{ 'admin_panel.reset_password.save' | translate}}
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
