<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        {{ 'dashboard' | translate}}
      </h3>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{ 'admin_panel.dashboard.number_of_examinations' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
