<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.merchant_users' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/merchant_users">
						<span class="m-nav__link-text">
							{{ 'labels.merchant_users' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/merchant_users/{{id}}">
						<span class="m-nav__link-text">
							{{merchantUser?.firstName}} {{merchantUser?.lastName}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.merchant_users.show' | translate }}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/merchant_users/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
        <a class="btn btn-brand s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/merchant_users/edit_password/{{id}}">
          <span>{{'admin_panel.pagination.buttons.new_password' | translate}}</span>
        </a>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.id' | translate }}</th>
          <th>{{merchantUser?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.first_name' | translate }}</th>
          <td>{{merchantUser?.firstName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.last_name' | translate }}</th>
          <td>{{merchantUser?.lastName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.email' | translate }}</th>
          <td>{{merchantUser?.email}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.created_at' | translate }}</th>
          <td>{{merchantUser?.createdAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.updated_at' | translate }}</th>
          <td>{{merchantUser?.updatedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.sign_in_count' | translate }}</th>
          <td>{{merchantUser?.signInCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.last_sign_in_at' | translate }}</th>
          <td>{{merchantUser?.lastSignInAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.admin_users.attributes.last_sign_in_ip' | translate }}</th>
          <td>{{merchantUser?.lastSignInIp}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.merchant_users.attributes.doctors' | translate }}</th>
          <td><p *ngFor="let doctor of merchantUser?.doctors" style="margin: 0"><a routerLink="/doctors/{{doctor.id}}">{{doctor.firstName}} {{doctor.lastName}}</a></p></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.merchant_users.attributes.medical_units' | translate }}</th>
          <td><p *ngFor="let medical_unit of merchantUser?.medicalUnits" style="margin: 0"><a routerLink="/medical_units/{{medical_unit.id}}">{{medical_unit.company}}</a></p></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.merchant_users.attributes.devices' | translate }}</th>
          <td><p *ngFor="let device of merchantUser?.devices" style="margin: 0"><a routerLink="/devices/{{device.id}}">{{device.identifier}}</a></p></td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
