<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.medical_units' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units">
						<span class="m-nav__link-text">
							{{ 'labels.medical_units' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units/{{id}}">
						<span class="m-nav__link-text">
							{{medicalUnit?.company}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/medical_units/edit_password/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.new_password' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.new_password' | translate }}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="changePasswordForm" (submit)="changePassword()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && changePasswordForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitted)"
             [class.has-success]="changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.admin_users.attributes.password' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="data.password" formControlName="password" id="password" name="password" type="password" class="form-control m-input" placeholder="{{ 'admin_panel.admin_users.attributes.password' | translate }}">
            <div class="form-control-feedback" *ngIf="!changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitted)">
              <p *ngIf="changePasswordForm.controls.password.errors.required">{{ 'admin_panel.admin_users.form.password_is_required' | translate }}</p>
              <p *ngIf="changePasswordForm.controls.password.errors.minlength">{{ 'admin_panel.admin_users.form.wrong_password' | translate }}</p>
              <p *ngIf="changePasswordForm.controls.password.errors.pattern">{{ 'admin_panel.admin_users.form.wrong_password' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!changePasswordForm.controls.passwordConfirmation.valid && (changePasswordForm.controls.passwordConfirmation.dirty || submitted)"
             [class.has-success]="changePasswordForm.controls.passwordConfirmation.valid && (changePasswordForm.controls.passwordConfirmation.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.admin_users.attributes.password_confirmation' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="data.passwordConfirmation" formControlName="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control m-input" placeholder="{{ 'admin_panel.admin_users.attributes.password_confirmation' | translate }}">
            <div class="form-control-feedback" *ngIf="!changePasswordForm.controls.passwordConfirmation.valid && (changePasswordForm.controls.passwordConfirmation.dirty || submitted)">
              <p *ngIf="changePasswordForm.controls.passwordConfirmation.errors.minlength">{{ 'admin_panel.admin_users.form.wrong_password' | translate }}</p>
              <p *ngIf="changePasswordForm.controls.passwordConfirmation.errors.pattern">{{ 'admin_panel.admin_users.form.wrong_password' | translate }}</p>
              <p *ngIf="changePasswordForm.controls.passwordConfirmation.errors.pwmatch">{{ 'admin_panel.admin_users.form.password_does_not_match' | translate }}</p>
              <p *ngIf="changePasswordForm.controls.passwordConfirmation.errors.required">{{ 'admin_panel.admin_users.form.password_confirmation_is_required' | translate }}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/medical_units/{{id}}" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
