<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.devices' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/devices">
						<span class="m-nav__link-text">
							{{ 'labels.devices' | translate }}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.devices' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-12 m--align-right">
            <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air" routerLink="/devices/new">
              <span><i class="la la-plus"><span>{{ 'admin_panel.devices.new' | translate }}</span></i></span>
            </a>
          </div>


          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:40px;">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.devices.attributes.identifier' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <input class="form-control m-input" [(ngModel)]="filters.identifier" (input)="loadRecords(1)" type="text" placeholder="{{'admin_panel.pagination.search' | translate}}">
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.devices.attributes.pin' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <input class="form-control m-input" [(ngModel)]="filters.pin" (input)="loadRecords(1)" type="text" placeholder="{{'admin_panel.pagination.search' | translate}}">
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
          </div>
          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:40px;">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.devices.attributes.patient' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.patientId" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.devices.attributes.all_patients' | translate }}</option>
                    <option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>

            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.devices.attributes.doctor' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.doctorId" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.devices.attributes.all_doctors' | translate }}</option>
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>

            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.devices.attributes.medical_unit' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.medicalUnitId" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.devices.attributes.all_patients' | translate }}</option>
                    <option *ngFor="let medicalUnit of medicalUnits" [value]="medicalUnit.id">{{medicalUnit.name}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>

            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.devices.attributes.merchant_user' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.merchantUserId" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.devices.attributes.all_doctors' | translate }}</option>
                    <option *ngFor="let merchant of merchants" [value]="merchant.id">{{merchant.email}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <thead class="m-datatable__head">
          <tr class="m-datatable__row">
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('id')">
              {{ 'admin_panel.devices.attributes.id' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='id' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='id' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('identifier')">
              {{ 'admin_panel.devices.attributes.identifier' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='identifier' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='identifier' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('pin')">
              {{ 'admin_panel.devices.attributes.pin' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='pin' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='pin' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('patientId')">
              {{ 'admin_panel.devices.attributes.patient' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='patientId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='patientId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('doctorId')">
              {{ 'admin_panel.devices.attributes.doctor' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='doctorId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='doctorId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('medicalUnitId')">
              {{ 'admin_panel.devices.attributes.medical_unit' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='medicalUnitId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='medicalUnitId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('merchantUserId')">
              {{ 'admin_panel.devices.attributes.merchant_user' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='merchantUserId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='merchantUserId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort">{{'admin_panel.pagination.actions' | translate}}</th>
          </tr>
          </thead>

          <tbody class="m-datatable__body">
          <tr *ngIf="!devices?.length" class="m-datatable__row text-center" style="height: 64px;">
            <td colspan="8" class="m-datatable__cell">{{'admin_panel.pagination.no_matches' | translate}}</td>
          </tr>
          <tr *ngFor="let row of devices" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">{{row.id}}</td>
            <td class="m-datatable__cell">{{row.identifier}}</td>
            <td class="m-datatable__cell">{{row.pin}}</td>
            <td class="m-datatable__cell"><a routerLink="/patients/{{row.patientId}}">{{row.patient}}</a></td>
            <td class="m-datatable__cell"><a routerLink="/doctors/{{row.doctorId}}">{{row.doctor}}</a></td>
            <td class="m-datatable__cell"><a routerLink="/medical_units/{{row.medicalUnitId}}">{{row.medicalUnit}}</a></td>
            <td class="m-datatable__cell"><a routerLink="/merchant_users/{{row.merchantUserId}}">{{row.merchant}}</a></td>
            <td class="m-datatable__cell">
              <a [routerLink]="[row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.show' | translate}}">
                <i class="la la-file-text"></i>
              </a>
              <a [routerLink]="['edit', row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.edit' | translate}}">
                <i class="la la-edit"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+devices?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
