<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.unaccepted_patients' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unaccepted_patients">
						<span class="m-nav__link-text">
							{{ 'labels.unaccepted_patients' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/unaccepted_patients/{{id}}">
						<span class="m-nav__link-text">
							{{patient?.firstName}} {{patient?.lastName}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.show_unaccepted' | translate }}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/unaccepted_patients/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
        <button *ngIf="patient?.confirmationEmail" class="btn btn-danger s-btn s-btn--custom m-btn--air m-btn--pill" (click)="resendConfirmationEmail()">
          <span>{{'admin_panel.doctors.resend_confirmation_email' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.id' | translate }}</th>
          <th>{{patient?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.first_name' | translate }}</th>
          <td>{{patient?.firstName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_name' | translate }}</th>
          <td>{{patient?.lastName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.email' | translate }}</th>
          <td>{{patient?.email}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.phone_number' | translate }}</th>
          <td>{{patient?.phoneNumber}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.doctor_code' | translate }}</th>
          <td>{{patient?.doctorCode}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.doctor' | translate }}</th>
          <td><a routerLink="/doctors/{{patient?.doctorId}}">{{patient?.doctorFullName}}</a></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.device' | translate }}</th>
          <td><a routerLink="/devices/{{patient?.deviceId}}">{{patient?.deviceText}}</a></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.address' | translate }}</th>
          <td>{{patient?.street}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.zip_code' | translate }}</th>
          <td>{{patient?.zipCode}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.city' | translate }}</th>
          <td>{{patient?.city}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.created_at' | translate }}</th>
          <td>{{patient?.createdAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.updated_at' | translate }}</th>
          <td>{{patient?.updatedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.confirmed_at' | translate }}</th>
          <td>{{patient?.confirmedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.sign_in_count' | translate }}</th>
          <td>{{patient?.signInCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_sign_in_at' | translate }}</th>
          <td>{{patient?.lastSignInAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_sign_in_ip' | translate }}</th>
          <td>{{patient?.lastSignInIp}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.accepted_regulation' | translate }}</th>
          <td>
            <span *ngIf="patient?.hasAcceptedRegulations" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.yess' | translate }}</span>
            <span *ngIf="!patient?.hasAcceptedRegulations" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.noo' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.consent' | translate }}</th>
          <td>
            <span *ngIf="patient?.hasAcceptedConsentToProcessingPersonalData" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.yess' | translate }}</span>
            <span *ngIf="!patient?.hasAcceptedConsentToProcessingPersonalData" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.noo' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.confirmation_email' | translate }}</th>
          <td>{{patient?.confirmationEmail}}</td>
        </tr>

        </tbody>
      </table>

      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.medical_info' | translate }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.identifier' | translate }}</th>
          <td>{{patient?.identifier}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.birthday' | translate }}</th>
          <td>{{patient?.birthday}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_count' | translate }}</th>
          <td>{{patient?.pregnancyCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.birth_count' | translate }}</th>
          <td>{{patient?.birthCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_week' | translate }}</th>
          <td>{{patient?.pregnancyWeek}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_day' | translate }}</th>
          <td>{{patient?.pregnancyDay}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_week_changed_at' | translate }}</th>
          <td>{{patient?.pregnancyWeekChangedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.diagnosis' | translate }}</th>
          <td>{{patient?.diagnosis}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.medicine_taken' | translate }}</th>
          <td>{{patient?.medicineTaken}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
