<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.device_logs' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/device_logs">
						<span class="m-nav__link-text">
							{{ 'labels.device_logs' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.device_logs' | translate}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1">
            <div class="form-group m-form__group row align-items-center">
              <div class="col-md-4">
                <div class="m-input-icon m-input-icon--left">
                  <input class="form-control m-input" id="generalSearch" [(ngModel)]="query" (input)="loadRecords(1)" type="text" placeholder="{{ 'admin_panel.pagination.search' | translate }}">
                  <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-search"></i></span></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:40px;">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.device_logs.attributes.state' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.status" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.device_logs.states.all' | translate }}</option>
                    <option value="in_progress">{{ 'admin_panel.device_logs.states.in_progress' | translate }}</option>
                    <option value="error">{{ 'admin_panel.device_logs.states.error' | translate }}</option>
                    <option value="completed">{{ 'admin_panel.device_logs.states.completed' | translate }}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <thead class="m-datatable__head">
          <tr class="m-datatable__row">
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('id')">
              {{ 'admin_panel.device_logs.attributes.id' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='id' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='id' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('createdAt')">
              {{ 'admin_panel.device_logs.attributes.date' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='createdAt' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='createdAt' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('deviceId')">
              {{ 'admin_panel.device_logs.attributes.device' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='deviceId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='deviceId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('status')">
              {{ 'admin_panel.device_logs.attributes.state' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='status' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='status' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('message')">
              {{ 'admin_panel.device_logs.attributes.message' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='message' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='message' && sortOrder=='asc'"></i>
            </th>
          </tr>
          </thead>

          <tbody class="m-datatable__body">
          <tr *ngIf="!deviceLogs?.length" class="m-datatable__row text-center" style="height: 64px;">
            <td colspan="5" class="m-datatable__cell">{{ 'admin_panel.pagination.no_matches' | translate }}</td>
          </tr>
          <tr *ngFor="let row of deviceLogs" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">{{row.id}}</td>
            <td class="m-datatable__cell">{{row.createdAt}}</td>
            <td class="m-datatable__cell"><a routerLink="/devices/{{row.deviceId}}">{{row.device}}</a></td>
            <td class="m-datatable__cell">{{states[row.status]}}</td>
            <td class="m-datatable__cell">{{row.message}}</td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+deviceLogs?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
