<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.certificates' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/certificates">
						<span class="m-nav__link-text">
							{{ 'labels.certificates' | translate}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/certificates/{{id}}">
						<span class="m-nav__link-text">
							{{id}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.certificates.show' | translate }}</h3>
        </div>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.id' | translate}}</th>
          <th>{{certificate?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.status' | translate}}</th>
          <td>{{certificate?.state}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.device' | translate}}</th>
          <td>
            <a routerLink="/devices/{{certificate?.deviceId}}">{{certificate?.deviceId}}</a>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.subject' | translate}}</th>
          <td>{{certificate?.subject}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.serial' | translate}}</th>
          <td>{{certificate?.serial}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.created_at' | translate}}</th>
          <td>{{certificate?.createdAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.revoked_at' | translate}}</th>
          <td>{{certificate?.revokedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.valid_to' | translate}}</th>
          <td>{{certificate?.validTo}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.certificate' | translate}}</th>
          <td>{{certificate?.certificate}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.certificates.attributes.request' | translate}}</th>
          <td>{{certificate?.certificateRequest}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
