<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.patients' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/patients">
						<span class="m-nav__link-text">
							{{ 'labels.patients' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/patients/{{id}}">
						<span class="m-nav__link-text">
							{{patient?.firstName}} {{patient?.lastName}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.show' | translate }}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <a class="btn btn-warning s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/patients/edit/{{id}}">
          <span>{{'admin_panel.pagination.buttons.edit' | translate}}</span>
        </a>
        <a class="btn btn-brand s-btn s-btn--custom m-btn--air m-btn--pill" routerLink="/patients/edit_password/{{id}}">
          <span>{{'admin_panel.pagination.buttons.new_password' | translate}}</span>
        </a>
        <button *ngIf="patient?.confirmationEmail" class="btn btn-danger s-btn s-btn--custom m-btn--air m-btn--pill" (click)="resendConfirmationEmail()">
          <span>{{'admin_panel.doctors.resend_confirmation_email' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.id' | translate }}</th>
          <th>{{patient?.id}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.first_name' | translate }}</th>
          <td>{{patient?.firstName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_name' | translate }}</th>
          <td>{{patient?.lastName}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.email' | translate }}</th>
          <td>{{patient?.email}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.phone_number' | translate }}</th>
          <td>{{patient?.phoneNumber}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.code' | translate }}</th>
          <td>{{patient?.patientCode}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.doctor' | translate }}</th>
          <td><a routerLink="/doctors/{{patient?.doctorId}}">{{patient?.doctorFullName}}</a></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.device' | translate }}</th>
          <td><a routerLink="/devices/{{patient?.deviceId}}">{{patient?.deviceText}}</a></td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.address' | translate }}</th>
          <td>{{patient?.street}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.zip_code' | translate }}</th>
          <td>{{patient?.zipCode}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.city' | translate }}</th>
          <td>{{patient?.city}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.created_at' | translate }}</th>
          <td>{{patient?.createdAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.updated_at' | translate }}</th>
          <td>{{patient?.updatedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.confirmed_at' | translate }}</th>
          <td>{{patient?.confirmedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.sign_in_count' | translate }}</th>
          <td>{{patient?.signInCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_sign_in_at' | translate }}</th>
          <td>{{patient?.lastSignInAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.last_sign_in_ip' | translate }}</th>
          <td>{{patient?.lastSignInIp}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.accepted_regulation' | translate }}</th>
          <td>
            <span *ngIf="patient?.hasAcceptedRegulations" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.yess' | translate }}</span>
            <span *ngIf="!patient?.hasAcceptedRegulations" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.noo' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.consent' | translate }}</th>
          <td>
            <span *ngIf="patient?.hasAcceptedConsentToProcessingPersonalData" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.yess' | translate }}</span>
            <span *ngIf="!patient?.hasAcceptedConsentToProcessingPersonalData" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.noo' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'has_assigned_password' | translate }}</th>
          <td>
            <span *ngIf="patient?.hasConfirmedAccount" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.yess' | translate }}</span>
            <span *ngIf="!patient?.hasConfirmedAccount" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.noo' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{'confirmed' | translate }}</th>
          <td>
            <span *ngIf="patient?.hasAcceptedProfileHistory" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.yess' | translate }}</span>
            <span *ngIf="!patient?.hasAcceptedProfileHistory" class="m-badge m-badge--wide m-badge--secondary">{{ 'admin_panel.patients.attributes.noo' | translate }}</span>
          </td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.confirmation_email' | translate }}</th>
          <td>{{patient?.confirmationEmail}}</td>
        </tr>

        </tbody>
      </table>

      <table class="table m-table m-table--head-separator-metal">
        <thead>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.medical_info' | translate }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.identifier' | translate }}</th>
          <td>{{patient?.identifier}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.birthday' | translate }} </th>
          <td>{{patient?.birthday}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_count' | translate }}</th>
          <td>{{patient?.pregnancyCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.birth_count' | translate }}</th>
          <td>{{patient?.birthCount}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_week' | translate }}</th>
          <td>{{patient?.pregnancyWeek}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_day' | translate }}</th>
          <td>{{patient?.pregnancyDay}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.pregnancy_week_changed_at' | translate }}</th>
          <td>{{patient?.pregnancyWeekChangedAt}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.diagnosis' | translate }}</th>
          <td>{{patient?.diagnosis}}</td>
        </tr>
        <tr>
          <th>{{ 'admin_panel.patients.attributes.medicine_taken' | translate }}</th>
          <td>{{patient?.medicineTaken}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.patients.attributes.audits' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <tbody class="m-datatable__body">
          <tr *ngIf="!audits?.length" class="m-datatable__row" style="height: 64px;">{{'admin_panel.pagination.no_matches' | translate}}</tr>
          <tr *ngFor="let row of audits" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">
              <a routerLink="/{{row.userProfileType}}s/{{row.userId}}">{{row.userName}}</a>
              <div *ngIf="row.isConfirmed">
                <div *ngIf="row.isAccepted" style="color:#488220; border: 1px solid #488220; border-radius: 3px; float: left; padding:10px">
                  <span>{{'approved' | translate}}</span><br>
                  <span>{{row.confirmedAt}}</span>
                </div>
                <div *ngIf="!row.isAccepted" style="color:#e74c3c; border: 1px solid #e74c3c; border-radius: 3px; float: left; padding:10px">
                  <span>{{'unapproved' | translate}}</span><br>
                  <span>{{row.confirmedAt}}</span>
                  <p style="font-style:italic">"{{row.text}}"</p>
                </div>
              </div>
            </td>
            <td style="border-bottom: 1px solid black; border-right: 1px solid black;">
              <table>
                <tbody>
                <tr *ngFor="let change of row.auditedChanges">
                  <td style="text-align: right;font-weight: 500;width: 300px;" >{{ change[0] | translate }}: </td>
                  <td style="padding-left:10px">
                    <span style="text-decoration: line-through;color: #e74c3c"> {{changedParameter(change)}} </span>
                    <span> {{newParameter(change)}} </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+audits?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
