<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.merchant_users' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/merchant_users">
						<span class="m-nav__link-text">
							{{ 'labels.merchant_users' | translate }}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/merchant_users/{{id}}">
						<span class="m-nav__link-text">
							{{merchantUserName}}
						</span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/merchant_users/edit/{{id}}">
						<span class="m-nav__link-text">
							{{ 'admin_panel.pagination.buttons.edit' | translate}}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'admin_panel.merchant_users.edit' | translate }}</h3>
        </div>
      </div>
    </div>
    <form [formGroup]="editMerchantUserForm" (submit)="updateMerchantUser()" class="m-form m-form--label-align-right">
      <div class="m-portlet__body">

        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert" id="new_admin_user_msg"
               [class.m--hide]="!submitted || (submitted && editMerchantUserForm.valid)">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              {{ 'admin_panel.common.form_error' | translate}}
            </div>
          </div>
        </div>


        <div class="form-group m-form__group row"
             [class.has-danger]="!editMerchantUserForm.controls.firstName.valid && (editMerchantUserForm.controls.firstName.dirty || submitted)"
             [class.has-success]="editMerchantUserForm.controls.firstName.valid && (editMerchantUserForm.controls.firstName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.admin_users.attributes.first_name' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="merchantUser.firstName" formControlName="firstName" id="firstName" name="firstName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.admin_users.attributes.first_name' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMerchantUserForm.controls.firstName.valid && (editMerchantUserForm.controls.firstName.dirty || submitted)">
              <p *ngIf="editMerchantUserForm.controls.firstName.errors.required">{{ 'admin_panel.admin_users.form.first_name_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMerchantUserForm.controls.lastName.valid && (editMerchantUserForm.controls.lastName.dirty || submitted)"
             [class.has-success]="editMerchantUserForm.controls.lastName.valid && (editMerchantUserForm.controls.lastName.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.admin_users.attributes.last_name' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="merchantUser.lastName" formControlName="lastName" id="lastName" name="lastName" type="text" class="form-control m-input" placeholder="{{ 'admin_panel.admin_users.attributes.last_name' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMerchantUserForm.controls.lastName.valid && (editMerchantUserForm.controls.lastName.dirty || submitted)">
              <p *ngIf="editMerchantUserForm.controls.lastName.errors.required">{{ 'admin_panel.admin_users.form.last_name_is_required' | translate }}</p>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row"
             [class.has-danger]="!editMerchantUserForm.controls.email.valid && (editMerchantUserForm.controls.email.dirty || submitted)"
             [class.has-success]="editMerchantUserForm.controls.email.valid && (editMerchantUserForm.controls.email.dirty || submitted)">
          <label class="col-lg-3 col-form-label">{{ 'admin_panel.admin_users.attributes.email' | translate }} *</label>
          <div class="col-lg-6">
            <input [(ngModel)]="merchantUser.email" formControlName="email" id="email" name="email" type="email" class="form-control m-input" placeholder="{{ 'admin_panel.admin_users.attributes.email' | translate }}">
            <div class="form-control-feedback" *ngIf="!editMerchantUserForm.controls.email.valid && (editMerchantUserForm.controls.email.dirty || submitted)">
              <p *ngIf="editMerchantUserForm.controls.email.errors.required">{{ 'admin_panel.admin_users.form.email_is_required' | translate }}</p>
              <p *ngIf="editMerchantUserForm.controls.email.errors.email">{{ 'admin_panel.admin_users.form.wrong_email' | translate }}</p>
              <p *ngIf="editMerchantUserForm.controls.email.errors.unique">{{ 'admin_panel.admin_users.form.taken_email' | translate }}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-success">{{ 'admin_panel.common.save' | translate}}</button>
              <button routerLink="/merchant_users/{{id}}" type="reset" class="btn btn-secondary">{{ 'admin_panel.common.cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
