<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.patients' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/patients">
						<span class="m-nav__link-text">
							{{ 'labels.patients' | translate }}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.patients' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1">
            <div class="form-group m-form__group row align-items-center">
              <div class="col-md-4">
                <div class="m-input-icon m-input-icon--left">
                  <input class="form-control m-input" id="generalSearch" [(ngModel)]="query" (input)="loadRecords(1)" type="text" placeholder="{{'admin_panel.pagination.search' | translate}}">
                  <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-search"></i></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 order-1 order-xl-2 m--align-right">
            <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air" routerLink="/patients/new">
              <span><i class="la la-plus"><span>{{ 'admin_panel.patients.new' | translate }}</span></i></span>
            </a>
          </div>
          <div class="col-xl-12 order-xl-3 row" style="display:flex;margin-top:40px;">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label>
                    {{ 'admin_panel.patients.attributes.doctor' | translate }}:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control" [(ngModel)]="filters.doctorId" (change)="loadRecords(1)">
                    <option value="">{{ 'admin_panel.examinations.attributes.all_doctors' | translate }}</option>
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</option>
                  </select>
                </div>
              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>

          </div>
        </div>
      </div>
      <div style="margin-bottom:15px">
        <div class="btn-group m-btn-group">
          <button class="btn btn-brand" (click)="changeTypeOfPatients('all')">{{ 'admin_panel.patients.attributes.all' | translate }} ({{pagination?.sizeAll}})</button>
          <button class="btn btn-brand" (click)="changeTypeOfPatients('confirmed')">{{ 'admin_panel.patients.attributes.all_confirmed' | translate }} ({{pagination?.sizeConfirmed}})</button>
          <button class="btn btn-brand" (click)="changeTypeOfPatients('unconfirmed')">{{ 'admin_panel.patients.attributes.all_unconfirmed' | translate }} ({{pagination?.sizeUnconfirmed}})</button>
        </div>
      </div>

      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <thead class="m-datatable__head">
          <tr class="m-datatable__row">
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('id')">
              {{ 'admin_panel.patients.attributes.id' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='id' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='id' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('firstName')">
              {{ 'admin_panel.patients.attributes.first_name' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='firstName' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='firstName' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('lastName')">
              {{ 'admin_panel.patients.attributes.last_name' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='lastName' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='lastName' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('email')">
              {{ 'admin_panel.patients.attributes.email' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='email' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='email' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('doctorId')">
              {{ 'admin_panel.patients.attributes.doctor' | translate }}
              <i class="la la-arrow-up" *ngIf="sortModel=='doctorId' && sortOrder=='desc'"></i>
              <i class="la la-arrow-down" *ngIf="sortModel=='doctorId' && sortOrder=='asc'"></i>
            </th>
            <th class="m-datatable__cell">
              {{ 'admin_panel.patients.attributes.confirmed' | translate }}
            </th>
            <th class="m-datatable__cell">
              {{ 'admin_panel.patients.attributes.active' | translate }}
            </th>
            <th class="m-datatable__cell m-datatable__cell--sort">{{'admin_panel.pagination.actions' | translate}}</th>
          </tr>
          </thead>

          <tbody class="m-datatable__body">
          <tr *ngIf="!patients?.length" class="m-datatable__row text-center" style="height: 64px;">
            <td colspan="8" class="m-datatable__cell">{{'admin_panel.pagination.no_matches' | translate}}</td>
          </tr>
          <tr *ngFor="let row of patients" class="m-datatable__row" style="height: 64px;">
            <td class="m-datatable__cell">{{row.id}}</td>
            <td class="m-datatable__cell">{{row.firstName}}</td>
            <td class="m-datatable__cell">{{row.lastName}}</td>
            <td class="m-datatable__cell">{{row.email}}</td>
            <td class="m-datatable__cell"><a routerLink="/doctors/{{row.doctorId}}">{{row.doctor}}</a></td>
            <td class="m-datatable__cell">
              <span *ngIf="row.confirmed" class="m-badge m-badge--wide m-badge--accent" style="width:50px">{{ 'admin_panel.crm.yes_is_synced' | translate }}</span>
              <span *ngIf="!row.confirmed" class="m-badge m-badge--wide m-badge--secondary" style="width:50px">{{ 'admin_panel.crm.no_is_not_synced' | translate }}</span>
            </td>
            <td class="m-datatable__cell">
              <span *ngIf="row.active" class="m-badge m-badge--wide m-badge--accent" style="width:50px">{{ 'admin_panel.crm.yes_is_synced' | translate }}</span>
              <span *ngIf="!row.active" class="m-badge m-badge--wide m-badge--secondary" style="width:50px">{{ 'admin_panel.crm.no_is_not_synced' | translate }}</span>
            </td>
            <td class="m-datatable__cell">
              <a [routerLink]="[row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.show' | translate}}">
                <i class="la la-file-text"></i>
              </a>
              <a [routerLink]="['edit', row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.edit' | translate}}">
                <i class="la la-edit"></i>
              </a>
              <a [routerLink]="['edit_password', row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.new_password' | translate}}">
                <i class="la la-lock"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+patients?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
