<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ 'labels.admin_users' | translate }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" routerLink="/">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" routerLink="/admin_users">
						<span class="m-nav__link-text">
							{{ 'labels.admin_users' | translate }}
						</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{ 'labels.admin_users' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1">
            <div class="form-group m-form__group row align-items-center">
              <div class="col-md-4">
                <div class="m-input-icon m-input-icon--left">
                  <input class="form-control m-input" id="generalSearch" [(ngModel)]="query" (input)="loadRecords(1)" type="text" placeholder="{{'admin_panel.pagination.search' | translate}}">
                  <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-search"></i></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 order-1 order-xl-2 m--align-right">
            <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air" routerLink="/admin_users/new">
              <span><i class="la la-plus"><span>{{ 'admin_panel.admin_users.new' | translate }}</span></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style="overflow-x: scroll;">
        <table class="m-datatable__table">
          <thead class="m-datatable__head">
            <tr class="m-datatable__row">
              <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('id')">
                {{ 'admin_panel.admin_users.attributes.id' | translate }}
                <i class="la la-arrow-up" *ngIf="sortModel=='id' && sortOrder=='desc'"></i>
                <i class="la la-arrow-down" *ngIf="sortModel=='id' && sortOrder=='asc'"></i>
              </th>
              <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('firstName')">
                {{ 'admin_panel.admin_users.attributes.first_name' | translate }}
                <i class="la la-arrow-up" *ngIf="sortModel=='firstName' && sortOrder=='desc'"></i>
                <i class="la la-arrow-down" *ngIf="sortModel=='firstName' && sortOrder=='asc'"></i>
              </th>
              <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('lastName')">
                {{ 'admin_panel.admin_users.attributes.last_name' | translate }}
                <i class="la la-arrow-up" *ngIf="sortModel=='lastName' && sortOrder=='desc'"></i>
                <i class="la la-arrow-down" *ngIf="sortModel=='lastName' && sortOrder=='asc'"></i>
              </th>
              <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('email')">
                {{ 'admin_panel.admin_users.attributes.email' | translate }}
                <i class="la la-arrow-up" *ngIf="sortModel=='email' && sortOrder=='desc'"></i>
                <i class="la la-arrow-down" *ngIf="sortModel=='email' && sortOrder=='asc'"></i>
              </th>
              <th class="m-datatable__cell m-datatable__cell--sort" (click)="sort('role')">
                {{ 'admin_panel.admin_users.attributes.role' | translate }}
                <i class="la la-arrow-up" *ngIf="sortModel=='role' && sortOrder=='desc'"></i>
                <i class="la la-arrow-down" *ngIf="sortModel=='role' && sortOrder=='asc'"></i>
              </th>
              <th class="m-datatable__cell m-datatable__cell--sort">{{'admin_panel.pagination.actions' | translate}}</th>
            </tr>
          </thead>

          <tbody class="m-datatable__body">
            <tr *ngIf="!adminUsers?.length" class="m-datatable__row text-center" style="height: 64px;">
              <td colspan="6" class="m-datatable__cell">{{'admin_panel.pagination.no_matches' | translate}}</td>
            </tr>
            <tr *ngFor="let row of adminUsers" class="m-datatable__row" style="height: 64px;">
              <td class="m-datatable__cell">{{row.id}}</td>
              <td class="m-datatable__cell">{{row.firstName}}</td>
              <td class="m-datatable__cell">{{row.lastName}}</td>
              <td class="m-datatable__cell">{{row.email}}</td>
              <td class="m-datatable__cell">
                <span *ngIf="row.role == 'admin'" class="m-badge m-badge--warning m-badge--wide" style="display: inline-block;">Admin</span>
                <span *ngIf="row.role == 'superadmin'" class="m-badge m-badge--danger m-badge--wide" style="display: inline-block;">Superadmin</span>
              </td>
              <td class="m-datatable__cell">
                <a [routerLink]="[row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.show' | translate}}">
                  <i class="la la-file-text"></i>
                </a>
                <a [routerLink]="['edit', row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.edit' | translate}}">
                  <i class="la la-edit"></i>
                </a>
                <a [routerLink]="['edit_password', row.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="{{'admin_panel.pagination.buttons.new_password' | translate}}">
                  <i class="la la-lock"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
          <div class="m-datatable__pager-nav">
            <ngb-pagination *ngIf="pagination?.size>limit" [collectionSize]="pagination?.size" [pageSize]="limit" [page]="pagination?.offset" [maxSize]="5" (pageChange)="loadRecords($event)"></ngb-pagination>
          </div>

          <div class="m-datatable__pager-info" style="display:inline-block">
            <div ngbDropdown placement="top-right" class="btn-group m-datatable__pager-size dropup">
              <button class="btn dropdown-toggle btn-default" id="dropdownBasic1" ngbDropdownToggle style="width: 70px;">{{limit}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="min-width: 70px;">
                <button class="dropdown-item" (click)="changeLimit(10)">10</button>
                <button class="dropdown-item" (click)="changeLimit(20)">20</button>
                <button class="dropdown-item" (click)="changeLimit(50)">50</button>
              </div>
              <span class="m-datatable__pager-detail" style="line-height: 28px;padding-left: 10px;">
                {{ 'admin_panel.pagination.showing' | translate }} {{pagination?.limit*(pagination?.offset-1)+1}} - {{pagination?.limit*(pagination?.offset-1)+adminUsers?.length}} {{ 'admin_panel.pagination.from' | translate }} {{pagination?.size}}
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
